ENVIRONMENT = testing
MEDIA_DIRECTORY = ./media/anime
TMP_DIRECTORY = ./media/tmp
BASE_URL_MEDIA = localhost:5000/api/media/anime
BASE_URL_TMP = localhost:5000/api/media/tmp
PORT = 5000
PG_PORT = 5432
PG_HOST = localhost
PG_USER = admin
PG_PASSWORD = admin
PG_DATABASE = nadedb
ELASTICSEARCH_PASSWORD = admin
ELASTICSEARCH_HOST = http://localhost:9200
UUID_NAMESPACE = 3869998f-fd1c-386f-8c2c-fd41ed2e2039
USERNAME_API_NADEDB = admin
PASSWORD_API_NADEDB = admin
EMAIL_API_NADEDB = admin@admin.com
SECRET_KEY_JWT = jwtkey
ALLOWED_WEBSITE_URLS = localhost:5000
API_KEY_MASTER = master-api-key
