services:
  postgres:
    container_name: nadeshiko-postgres
    image: postgres:17
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - nadeshiko_db:/var/lib/postgresql/data
    ports:
      - ${POSTGRES_PORT}:5432

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: nadeshiko-pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@pgadmin.com
      PGADMIN_DEFAULT_PASSWORD: admin
      PGADMIN_LISTEN_PORT: 80
      PGADMIN_CONFIG_SERVER_MODE: 'False'
    volumes:
      - nadeshiko_pgadmin:/var/lib/pgadmin
    ports:
      - 15400:80
    depends_on:
      - postgres

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:9.2.4
    container_name: nadeshiko-elasticsearch
    environment:
      - discovery.type=single-node
      - ES_JAVA_OPTS=-Xms1g -Xmx1g
      - xpack.security.enabled=true
      - xpack.security.http.ssl.enabled=false
      - ELASTIC_PASSWORD=${ELASTICSEARCH_ADMIN_PASSWORD}
      - network.host=127.0.0.1
      - http.host=0.0.0.0
    ports:
      - 127.0.0.1:9200:9200
      - 127.0.0.1:9300:9300
    command: >
      bash -c '
        if [ ! "-d" "/usr/share/elasticsearch/plugins/analysis-icu" ]; then
          ./bin/elasticsearch-plugin install analysis-icu;
        fi;
        if [ ! "-d" "/usr/share/elasticsearch/plugins/analysis-kuromoji" ]; then
          ./bin/elasticsearch-plugin install analysis-kuromoji;
        fi;
        ./bin/elasticsearch
      '
    volumes:
      - nadeshiko_elasticsearch_data:/usr/share/elasticsearch/data
      - nadeshiko_elasticsearch_config:/usr/share/elasticsearch/config
      - nadeshiko_elasticsearch_plugins:/usr/share/elasticsearch/plugins

  kibana:
    image: docker.elastic.co/kibana/kibana:9.2.4
    container_name: nadeshiko-kibana
    ports:
      - 5601:5601
    volumes:
      - nadeshiko_kibana_data:/usr/share/kibana/config
    environment:
      ELASTICSEARCH_HOSTS: "http://elasticsearch:9200"
    restart: always
    depends_on:
      - elasticsearch

volumes:
  nadeshiko_db:
  nadeshiko_pgadmin:
  nadeshiko_elasticsearch_data:
  nadeshiko_elasticsearch_config:
  nadeshiko_elasticsearch_plugins:
  nadeshiko_kibana_data:
