openapi: 3.1.0
info:
  title: Nadeshiko API
  description: |
    Thank you for using the Nadeshiko API! This API lets you search Japanese dialogue segments across anime and J-Drama, with translations and contextual metadata.

    ### Authentication
    All public API requests require an API key passed in the `Authorization` header as `Bearer <api_key>`.
    You can register and generate your key on the [developer page](https://nadeshiko.co/user/developer), where you can also check your current usage.

    ### Request Headers
    The only required application-level request header for the public API is:

    - `Authorization: Bearer <api_key>`

    Public API endpoints do not currently expose custom request ID or rate limit response headers.

    ### Rate Limit
    Each API key is limited to **150 requests per minute**. Exceeding this limit will return a `429 Too Many Requests` response.
    The `429` response body distinguishes between short-term rate limiting and monthly quota exhaustion.

    ### Quota
    Each account has a monthly quota of **5,000 requests**. Once exceeded, further requests will be rejected until the next month.
    To request a quota increase, reach out via the [contact page](https://nadeshiko.co/about).
  version: 2.1.0
  contact:
    name: Nadeshiko Team
    url: https://nadeshiko.co
  license:
    name: AGPL-3.0
    url: https://www.gnu.org/licenses/agpl-3.0.html
  x-logo:
    url: ./logo.png
    altText: Nadeshiko
    href: https://nadeshiko.co
servers:
  - description: Production server
    url: https://api.nadeshiko.co
tags:
  - name: Search
    description: |
      Search endpoints for querying Japanese segments across indexed media.
  - name: Media
    description: |
      Media endpoints for browsing anime and J-Drama entries, episodes, and segments.
  - name: Collections
    description: |
      Collection endpoints for managing saved segment collections.
  - name: User
    description: |
      User endpoints for profile data, excluded media, and activity history.
  - name: Activity
    description: |
      Activity endpoints for tracking and querying the authenticated user's activity history.
  - name: Stats
    description: |
      Statistics endpoints for corpus coverage and word frequency data.
paths:
  /v1/search:
    post:
      tags:
        - Search
      operationId: search
      x-order: 10
      summary: Search segments by query
      description: |
        The primary search endpoint for finding Japanese segments and their translations across indexed media (anime, J-Drama).

        This endpoint uses Elasticsearch with advanced Japanese text analysis supporting multiple input types (romaji, kanji, kana) and providing intelligent field-based boosting.

        **Query Features**
        - **Multi-language Support:** Search using Japanese (kanji/kana), Romaji, or English/Spanish
        - **Boolean Operators:** `AND`, `OR`, `NOT` supported (e.g., `(cat OR dog) AND bird`)
        - **Phrase Matching:** Use quotes for exact phrases (e.g., `"good morning"`), or pass `exactMatch: true` to the request body
        - **Wildcards:** `te*t` format (leading wildcards not supported)
        - **Smart Field Selection:** Automatically chooses optimal search fields based on input type

        **Input Type Handling**
        | Input Type | Search Strategy |
        |------------|-----------------|
        | **Kanji** (`食べる`, `彼女`) | Matches against surface form, dictionary form, and normalized form. Reading-only field is disabled to avoid homophones. |
        | **Kana** (`たべる`, `かのじょ`) | Matches against surface form, dictionary form, normalized form, and reading form. |
        | **Romaji / English / Spanish** (`go`, `taberu`, `good morning`) | Boosts EN/ES translations. Also matches kana (reading) and normalized Japanese forms as fallbacks. |
      security:
        - ApiKey:
            - READ_MEDIA
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/media:
    get:
      tags:
        - Media
      operationId: listMedia
      x-order: 10
      summary: List all media
      description: |
        Returns a paginated list of media with full metadata, including cover/banner images, episode counts, and genres.
        Supports filtering by category and text search.
      security:
        - ApiKey:
            - READ_MEDIA
      parameters:
        - name: take
          in: query
          description: Number of results per page
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 40
        - name: cursor
          in: query
          description: Opaque pagination cursor token
          schema:
            type: string
        - name: category
          in: query
          description: Filter by media category
          schema:
            type: string
            enum:
              - ANIME
              - JDRAMA
            example: ANIME
        - name: query
          in: query
          description: Search term to match against media names (English, Japanese, romaji)
          schema:
            type: string
            example: steins
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/collections:
    get:
      tags:
        - Collections
      x-order: 10
      operationId: listCollections
      summary: List collections
      description: |
        Returns the authenticated user's collections. Can be filtered by visibility.
      security:
        - ApiKey:
            - READ_COLLECTIONS
      parameters:
        - name: visibility
          in: query
          description: Filter by visibility
          schema:
            $ref: '#/components/schemas/CollectionVisibility'
        - name: cursor
          in: query
          description: Opaque pagination cursor token
          schema:
            type: string
            example: eyJraW5kIjoib2Zmc2V0Iiwic2tpcCI6MjB9
        - name: take
          in: query
          description: Items per page
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
            example: 20
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      tags:
        - Collections
      x-order: 40
      operationId: createCollection
      summary: Create collection
      description: |
        Creates a new segment collection for the authenticated user.
      security:
        - ApiKey:
            - CREATE_COLLECTIONS
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollectionCreateRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collection'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/search/stats:
    post:
      tags:
        - Search
      operationId: getSearchStats
      x-order: 20
      summary: Get search statistics
      description: |
        Returns filter statistics for a query without returning segment results. Useful for populating filter UIs:
        - `media`: media matching the query, with per-episode hit counts
        - `categories`: segment counts grouped by media category

        Stats are scoped by the query and category filters but are not narrowed by a selected media/episode — so selecting a media in the UI doesn't zero out other media from the list.
      security:
        - ApiKey:
            - READ_MEDIA
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchStatsRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchStatsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/media/{mediaPublicId}:
    get:
      tags:
        - Media
      operationId: getMedia
      x-order: 20
      summary: Get single media
      description: |
        Returns a single media entry by its public ID with full metadata.
      security:
        - ApiKey:
            - READ_MEDIA
      parameters:
        - name: mediaPublicId
          in: path
          required: true
          description: Media public ID
          schema:
            type: string
            pattern: ^[A-Za-z0-9_-]{12}$
            example: V1StGXR8_Z5d
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Media'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/collections/{collectionPublicId}:
    get:
      tags:
        - Collections
      x-order: 20
      operationId: getCollection
      summary: Get collection details
      description: |
        Returns collection metadata only.
        To query segments inside the collection, use
        `POST /v1/collections/{collectionPublicId}/search`.
        To add or remove saved segments, use the `/segments` endpoints.
      security:
        - ApiKey:
            - READ_COLLECTIONS
      parameters:
        - name: collectionPublicId
          in: path
          required: true
          description: Collection public ID
          schema:
            type: string
            pattern: ^[A-Za-z0-9_-]{12}$
            example: V1StGXR8_Z5d
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collection'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      tags:
        - Collections
      x-order: 50
      operationId: deleteCollection
      summary: Delete collection
      description: |
        Deletes a collection and all its segment entries. Requires collection ownership.
      security:
        - ApiKey:
            - DELETE_COLLECTIONS
      parameters:
        - name: collectionPublicId
          in: path
          required: true
          description: Collection public ID
          schema:
            type: string
            example: V1StGXR8_Z5d
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/search/words:
    post:
      tags:
        - Search
      operationId: searchWords
      x-order: 30
      summary: Search by multiple words
      description: |
        Searches for multiple words simultaneously and aggregates matches per media.

        Unlike the main search endpoint, this returns a per-word summary of matches across media rather than individual segments. Filters apply the same way as `/v1/search`.
      security:
        - ApiKey:
            - READ_MEDIA
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchMultipleRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchMultipleResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/media/{mediaPublicId}/episodes:
    get:
      operationId: listEpisodes
      x-order: 30
      tags:
        - Media
      summary: List episodes for a media
      description: |
        Returns a paginated list of episodes for a specific media.
      security:
        - ApiKey:
            - READ_MEDIA
      parameters:
        - name: mediaPublicId
          in: path
          required: true
          schema:
            type: string
            pattern: ^[A-Za-z0-9_-]{12}$
          description: Media public ID
          example: V1StGXR8_Z5d
        - name: take
          in: query
          required: false
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 100
          description: Maximum number of episodes to return
        - name: cursor
          in: query
          required: false
          schema:
            type: string
          description: Opaque pagination cursor token
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EpisodeListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/collections/{collectionPublicId}/search:
    post:
      tags:
        - Collections
      x-order: 30
      operationId: searchCollectionSegments
      summary: Search segments in a collection
      description: |
        Searches within a collection.

        All search semantics, query parsing, sorting, filters, pagination, and `include`
        expansions behave the same as `/v1/search`, with one additional constraint:
        results are limited to segments already present in the target collection.
      security:
        - ApiKey:
            - READ_COLLECTIONS
      parameters:
        - name: collectionPublicId
          in: path
          required: true
          description: Collection public ID
          schema:
            type: string
            pattern: ^[A-Za-z0-9_-]{12}$
            example: V1StGXR8_Z5d
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/media/{mediaPublicId}/episodes/{episodeNumber}:
    get:
      operationId: getEpisode
      x-order: 40
      tags:
        - Media
      summary: Get single episode
      description: |
        Returns a specific episode by media public ID and episode number.
      security:
        - ApiKey:
            - READ_MEDIA
      parameters:
        - name: mediaPublicId
          in: path
          required: true
          schema:
            type: string
            pattern: ^[A-Za-z0-9_-]{12}$
          description: Media public ID
          example: V1StGXR8_Z5d
        - name: episodeNumber
          in: path
          required: true
          schema:
            type: integer
            minimum: 0
          description: Episode number (0 for movies/specials)
          example: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Episode'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/media/segments/{segmentPublicId}:
    get:
      tags:
        - Media
      operationId: getSegment
      x-order: 50
      summary: Get single segment
      description: |
        Returns a specific segment by its public ID.
      security:
        - ApiKey:
            - READ_MEDIA
      parameters:
        - name: segmentPublicId
          in: path
          required: true
          schema:
            type: string
            pattern: ^[A-Za-z0-9_-]{12}$
          description: Segment public ID
          example: V1StGXR8_Z5d
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Segment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/media/segments/{segmentPublicId}/context:
    get:
      tags:
        - Media
      operationId: getSegmentContext
      x-order: 60
      summary: Get surrounding context for a segment
      description: |
        Retrieves segments surrounding a specific segment within an episode.
        Returns segments both before and after the target, providing dialogue context for how a sentence is used.
      security:
        - ApiKey:
            - READ_MEDIA
      parameters:
        - name: segmentPublicId
          in: path
          required: true
          schema:
            type: string
            pattern: ^[A-Za-z0-9_-]{12}$
          description: Segment public ID
          example: V1StGXR8_Z5d
        - name: take
          in: query
          schema:
            type: integer
            default: 3
            minimum: 1
            maximum: 30
          description: Number of segments to return before and after the target
        - name: contentRating
          in: query
          style: form
          explode: true
          schema:
            type: array
            items:
              $ref: '#/components/schemas/ContentRating'
          description: Content ratings to include (omit for all ratings)
        - name: include
          in: query
          style: form
          explode: true
          schema:
            type: array
            items:
              $ref: '#/components/schemas/IncludeExpansion'
            default: []
          description: Optional resources to expand in the response `includes` block
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SegmentContextResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/collections/{collectionPublicId}/segments:
    post:
      tags:
        - Collections
      x-order: 60
      operationId: addSegmentToCollection
      summary: Add segment to collection
      description: |
        Adds a segment to a collection. Requires collection ownership.
      security:
        - ApiKey:
            - UPDATE_COLLECTIONS
      parameters:
        - name: collectionPublicId
          in: path
          required: true
          description: Collection public ID
          schema:
            type: string
            pattern: ^[A-Za-z0-9_-]{12}$
            example: V1StGXR8_Z5d
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddSegmentToCollectionRequest'
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/collections/{collectionPublicId}/segments/{segmentPublicId}:
    delete:
      tags:
        - Collections
      x-order: 70
      operationId: removeSegmentFromCollection
      summary: Remove segment from collection
      description: |
        Removes a segment from a collection. Requires collection ownership.
      security:
        - ApiKey:
            - DELETE_COLLECTIONS
      parameters:
        - name: collectionPublicId
          in: path
          required: true
          description: Collection public ID
          schema:
            type: string
            pattern: ^[A-Za-z0-9_-]{12}$
            example: V1StGXR8_Z5d
        - name: segmentPublicId
          in: path
          required: true
          description: Segment public ID
          schema:
            type: string
            pattern: ^[A-Za-z0-9_-]{12}$
            example: V1StGXR8_Z5d
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/search/media:
    post:
      tags:
        - Search
      operationId: searchMedia
      summary: Find media by name
      description: |
        Returns a short list of media matching a name prefix or substring.
        Results are ranked by exact match, then prefix match, then contains match,
        and further sorted by name length.
      security:
        - ApiKey:
            - READ_MEDIA
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchMediaRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaAutocompleteResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/stats/overview:
    get:
      tags:
        - Stats
      operationId: getStatsOverview
      summary: Get corpus statistics overview
      description: |
        Returns a comprehensive overview of corpus statistics including headline numbers,
        word frequency coverage tiers, and translation availability.

        The same data powers the public stats page at https://nadeshiko.co/stats.
      security:
        - ApiKey:
            - READ_MEDIA
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatsOverview'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/user/me:
    get:
      tags:
        - User
      operationId: getMe
      summary: Get current user profile
      description: |
        Returns the authenticated user's profile and current month API quota.

        You can also check your usage stats at https://nadeshiko.co/user/developer.
      security:
        - ApiKey:
            - READ_PROFILE
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserMe'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/user/excluded-media:
    get:
      tags:
        - User
      operationId: listExcludedMedia
      summary: List excluded media
      description: |
        Returns the list of media entries the authenticated user has excluded from search results.
      security:
        - ApiKey:
            - READ_PROFILE
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - excludedMedia
                properties:
                  excludedMedia:
                    type: array
                    items:
                      $ref: '#/components/schemas/MediaSummary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      tags:
        - User
      operationId: addExcludedMedia
      summary: Exclude media from search results
      description: |
        Adds a media entry to the authenticated user's excluded media list.
        Excluded media is hidden from search results.
      security:
        - ApiKey:
            - WRITE_PROFILE
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - mediaPublicId
              properties:
                mediaPublicId:
                  type: string
                  pattern: ^[A-Za-z0-9_-]{12}$
                  description: Public ID of the media to exclude
                  example: V1StGXR8_Z5d
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/user/excluded-media/{mediaPublicId}:
    delete:
      tags:
        - User
      operationId: removeExcludedMedia
      summary: Remove media from excluded list
      description: |
        Removes a media entry from the authenticated user's excluded list,
        making it visible in search results again.
      security:
        - ApiKey:
            - WRITE_PROFILE
      parameters:
        - name: mediaPublicId
          in: path
          required: true
          schema:
            type: string
            pattern: ^[A-Za-z0-9_-]{12}$
          description: Public ID of the media to remove from the excluded list
          example: V1StGXR8_Z5d
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/user/activity:
    get:
      tags:
        - Activity
      operationId: listUserActivity
      summary: List user activity
      description: |
        Returns the authenticated user's activity history with cursor-based pagination.
      security:
        - ApiKey:
            - READ_ACTIVITY
      parameters:
        - name: cursor
          in: query
          schema:
            type: string
          description: Opaque cursor token for keyset pagination
        - name: take
          in: query
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
          description: Number of results per page
        - name: activityType
          in: query
          schema:
            $ref: '#/components/schemas/ActivityType'
          description: Filter by activity type
        - name: date
          in: query
          schema:
            type: string
            format: date
          description: Filter activities to a specific date (YYYY-MM-DD)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - activities
                  - pagination
                properties:
                  activities:
                    type: array
                    items:
                      $ref: '#/components/schemas/UserActivity'
                  pagination:
                    $ref: '#/components/schemas/CursorPagination'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/user/activity/heatmap:
    get:
      tags:
        - Activity
      operationId: getUserActivityHeatmap
      summary: Get activity heatmap data
      description: |
        Returns daily activity counts for the authenticated user, grouped by date and activity type.
        Each day contains per-type counts that can be summed or filtered client-side.
      security:
        - ApiKey:
            - READ_ACTIVITY
      parameters:
        - name: days
          in: query
          schema:
            type: integer
            default: 365
            minimum: 1
            maximum: 730
          description: Number of days to include in the heatmap
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - activityByDay
                properties:
                  activityByDay:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/HeatmapDayCounts'
                    description: Map of YYYY-MM-DD date strings to per-type activity counts
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/user/activity/stats:
    get:
      tags:
        - Activity
      operationId: getUserActivityStats
      summary: Get user activity statistics
      description: |
        Returns aggregate statistics about the authenticated user's activity:
        total searches, exports, plays, list adds, shares, and top media.
      security:
        - ApiKey:
            - READ_ACTIVITY
      parameters:
        - name: since
          in: query
          schema:
            type: string
            format: date
          description: Only count activities from this date onward (YYYY-MM-DD)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserActivityStats'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
components:
  securitySchemes:
    ApiKey:
      type: http
      scheme: bearer
      bearerFormat: APIKey
      description: 'Send `Authorization: Bearer <api_key>`. Get your API key from https://nadeshiko.co/user/developer'
    SessionCookie:
      type: apiKey
      in: cookie
      name: nadeshiko.session_token
      description: Session authentication via cookie
  schemas:
    SearchQuery:
      type: object
      description: What to search for (omit for queryless browse/stats)
      properties:
        search:
          type: string
          description: Search expression (supports boolean operators, wildcards, phrase matching)
          maxLength: 500
          example: (猫 OR 犬) AND 好き
        exactMatch:
          type: boolean
          description: Require exact phrase matching (disables fuzzy and partial matches)
          default: false
    SearchSort:
      type: object
      description: Sort configuration
      properties:
        mode:
          type: string
          description: |
            Sort mode.
            - `RELEVANCE` (default): Elasticsearch relevance score
            - `ASC` / `DESC`: by segment length (character count)
            - `TIME_ASC` / `TIME_DESC`: by episode & position within an episode
            - `RANDOM`: deterministic random order (pass `seed` for reproducibility)
          enum:
            - RELEVANCE
            - ASC
            - DESC
            - TIME_ASC
            - TIME_DESC
            - RANDOM
          default: RELEVANCE
        seed:
          type: integer
          description: Non-negative integer seed for deterministic random sorting (only used when mode is RANDOM)
          minimum: 0
          example: 42
    MediaFilterItem:
      type: object
      description: A media filter entry with optional episode restriction
      required:
        - mediaPublicId
      properties:
        mediaPublicId:
          type: string
          description: Media public ID (nanoid)
          pattern: ^[A-Za-z0-9_-]{12}$
          example: V1StGXR8_Z5d
        episodes:
          type: array
          description: Specific episodes (omit for all episodes). Use 0 for movies/specials
          items:
            type: integer
            minimum: 0
          example:
            - 1
            - 2
    Category:
      type: string
      description: Media category type
      enum:
        - ANIME
        - JDRAMA
      example: ANIME
      x-enum-descriptions:
        - value: ANIME
          description: Anime
        - value: JDRAMA
          description: Japanese Drama
    ContentRating:
      type: string
      description: Content rating level for the segment
      enum:
        - SAFE
        - SUGGESTIVE
        - QUESTIONABLE
        - EXPLICIT
      example: SAFE
    SegmentStatus:
      type: string
      description: Segment status
      enum:
        - ACTIVE
        - HIDDEN
        - DELETED
      example: ACTIVE
    SearchFilters:
      type: object
      description: Search filters for narrowing segment results
      properties:
        media:
          type: object
          description: Media inclusion/exclusion filters
          properties:
            include:
              type: array
              description: Include only segments from these media (with optional episode filter)
              items:
                $ref: '#/components/schemas/MediaFilterItem'
            exclude:
              type: array
              description: Exclude segments from these media (with optional episode filter)
              items:
                $ref: '#/components/schemas/MediaFilterItem'
        category:
          type: array
          description: Media category filter
          items:
            $ref: '#/components/schemas/Category'
          default:
            - ANIME
            - JDRAMA
        contentRating:
          type: array
          description: Content ratings to include (omit for all ratings)
          items:
            $ref: '#/components/schemas/ContentRating'
        status:
          type: array
          description: Segment status filter
          items:
            $ref: '#/components/schemas/SegmentStatus'
          default:
            - ACTIVE
        segmentLengthChars:
          type: object
          description: Content character count range filter
          properties:
            min:
              type: integer
              description: Minimum content length
              minimum: 0
              example: 10
            max:
              type: integer
              description: Maximum content length
              minimum: 0
              example: 50
        segmentDurationMs:
          type: object
          description: Segment audio duration range filter (in milliseconds)
          properties:
            min:
              type: integer
              description: Minimum duration in ms
              minimum: 0
              example: 1000
            max:
              type: integer
              description: Maximum duration in ms
              minimum: 0
              example: 10000
        languages:
          description: |
            Translation languages to include alongside Japanese in search matching.
            - Omitted / `null`: match against Japanese and all translation languages (default)
            - `[]`: match against Japanese only
            - `["EN"]` / `["ES"]` / `["EN", "ES"]`: match against Japanese plus the listed translation languages

            Also accepts the legacy object form `{ exclude: ["en", "es"] }` for backward compatibility.
            The legacy form is translated on receipt: listed codes are excluded from the default language set.
          oneOf:
            - type: array
              items:
                type: string
                enum:
                  - EN
                  - ES
            - type: object
              deprecated: true
              description: Legacy exclude-based filter. Prefer the array form.
              properties:
                exclude:
                  type: array
                  items:
                    type: string
                    enum:
                      - en
                      - es
                      - EN
                      - ES
    IncludeExpansion:
      type: string
      description: |
        Resource to expand in the response `includes` block. Currently only `media` is supported; additional expansions may be added in future versions without breaking existing clients.
      enum:
        - media
    SearchRequest:
      type: object
      description: |
        Search request. All fields are optional — omit `query` for queryless browse (segments matching filters only).
      properties:
        query:
          $ref: '#/components/schemas/SearchQuery'
        take:
          type: integer
          description: Max number of entries per response
          default: 10
          minimum: 1
          maximum: 50
        cursor:
          type: string
          description: Opaque cursor token returned from the previous search page
          maxLength: 500
          example: eyJraW...N119
        sort:
          $ref: '#/components/schemas/SearchSort'
        filters:
          $ref: '#/components/schemas/SearchFilters'
        include:
          type: array
          description: Optional resources to expand in the response `includes` block
          items:
            $ref: '#/components/schemas/IncludeExpansion'
          default: []
    Token:
      type: object
      description: Morphological token from Japanese text analysis
      required:
        - s
        - d
        - r
        - b
        - e
        - p
        - p1
        - p2
        - p4
        - cf
      properties:
        s:
          type: string
          description: Surface form (the text as it appears in the sentence)
          example: 食べ
        d:
          type: string
          description: Dictionary form (base/lemma form for search)
          example: 食べる
        r:
          type: string
          description: Reading in katakana
          example: タベ
        b:
          type: integer
          description: Begin character offset in textJa.content
          example: 3
        e:
          type: integer
          description: End character offset in textJa.content
          example: 5
        p:
          type: string
          description: Primary part-of-speech tag
          example: 動詞
        p1:
          type: string
          nullable: true
          minLength: 1
          description: POS subtype 1 (UniDic pos[1])
          example: 固有名詞
        p2:
          type: string
          nullable: true
          minLength: 1
          description: POS subtype 2 (UniDic pos[2])
          example: 人名
        p4:
          type: string
          nullable: true
          minLength: 1
          description: Conjugation type (UniDic pos[4])
          example: 五段-カ行
        cf:
          type: string
          nullable: true
          minLength: 1
          description: Conjugation form (UniDic pos[5])
          example: 連用形-一般
    Segment:
      type: object
      description: Segment with content, translations, search-related highlights, and media URLs
      required:
        - publicId
        - position
        - status
        - startTimeMs
        - endTimeMs
        - contentRating
        - episode
        - mediaPublicId
        - textJa
        - textEn
        - textEs
        - urls
      properties:
        publicId:
          type: string
          description: Public ID for the segment (nanoid)
          pattern: ^[A-Za-z0-9_-]{12}$
          example: V1StGXR8_Z5d
        position:
          type: integer
          description: Position of the segment within the episode
          minimum: 0
          example: 1133
        status:
          $ref: '#/components/schemas/SegmentStatus'
        startTimeMs:
          type: integer
          description: Start time of the segment in milliseconds from the beginning of the episode
          minimum: 0
          example: 2007255
        endTimeMs:
          type: integer
          description: End time of the segment in milliseconds from the beginning of the episode
          minimum: 0
          example: 2008464
        contentRating:
          $ref: '#/components/schemas/ContentRating'
        episode:
          type: integer
          description: Episode number this segment belongs to (0 for movies/specials)
          minimum: 0
          example: 1
        mediaPublicId:
          type: string
          description: Public ID of the media this segment belongs to (nanoid)
          pattern: ^[A-Za-z0-9_-]{12}$
          example: V1StGXR8_Z5d
        textJa:
          type: object
          required:
            - content
            - highlight
            - tokens
          properties:
            content:
              type: string
              minLength: 1
              maxLength: 500
              description: Original Japanese content
              example: 僕は僕で、君は君だ。
            highlight:
              type: string
              nullable: true
              minLength: 1
              description: Japanese `content` with `<mark>` tags wrapping terms that matched a search query. Only populated on segments returned from a search endpoint.
            tokens:
              type: array
              nullable: true
              description: Morphological tokens for interactive display. Populated only for segments with available POS analysis.
              items:
                $ref: '#/components/schemas/Token'
        textEn:
          type: object
          required:
            - content
            - isMachineTranslated
            - highlight
          properties:
            content:
              type: string
              minLength: 1
              maxLength: 500
              description: English translation
              example: I am me, and you are you.
            isMachineTranslated:
              type: boolean
              description: Whether the translation was machine-translated
              example: false
            highlight:
              type: string
              nullable: true
              minLength: 1
              description: English `content` with `<mark>` tags wrapping terms that matched a search query. Only populated on segments returned from a search endpoint that matched this language.
        textEs:
          type: object
          required:
            - content
            - isMachineTranslated
            - highlight
          properties:
            content:
              type: string
              minLength: 1
              maxLength: 500
              description: Spanish translation
              example: Yo soy yo, y tú eres tú.
            isMachineTranslated:
              type: boolean
              description: Whether the translation was machine-translated
              example: false
            highlight:
              type: string
              nullable: true
              minLength: 1
              description: Spanish `content` with `<mark>` tags wrapping terms that matched a search query. Only populated on segments returned from a search endpoint that matched this language.
        urls:
          type: object
          description: URLs to media resources for this segment
          required:
            - imageUrl
            - audioUrl
            - videoUrl
          properties:
            imageUrl:
              type: string
              format: uri
              minLength: 1
              description: URL to the subtitle image snapshot
            audioUrl:
              type: string
              format: uri
              minLength: 1
              description: URL to the audio clip for this segment
            videoUrl:
              type: string
              format: uri
              minLength: 1
              description: URL to the video clip for this segment
    ExternalId:
      type: object
      description: External IDs for this media, keyed by source. Every source appears as a key; absent mappings are represented with a null value.
      required:
        - anilist
        - imdb
        - tvdb
        - tmdb
      properties:
        anilist:
          type: string
          nullable: true
          minLength: 1
          description: AniList ID
          example: '21459'
        imdb:
          type: string
          nullable: true
          minLength: 1
          description: IMDB ID
          example: tt1234567
        tvdb:
          type: string
          nullable: true
          minLength: 1
          description: TVDB ID
          example: '12345'
        tmdb:
          type: string
          nullable: true
          minLength: 1
          description: TMDB ID
          example: '90955'
    Media:
      type: object
      description: Media entry with full metadata
      required:
        - publicId
        - slug
        - externalIds
        - nameJa
        - nameRomaji
        - nameEn
        - airingFormat
        - airingStatus
        - genres
        - coverUrl
        - bannerUrl
        - startDate
        - endDate
        - category
        - segmentCount
        - episodeCount
        - studio
        - seasonName
        - seasonYear
      properties:
        publicId:
          type: string
          description: Public ID for the media (use this in public URLs)
          pattern: ^[A-Za-z0-9_-]{12}$
          example: V1StGXR8_Z5d
        slug:
          type: string
          description: URL-friendly slug for the media
          minLength: 1
          example: bakuman
        externalIds:
          $ref: '#/components/schemas/ExternalId'
        nameJa:
          type: string
          description: Original Japanese name of the media
          minLength: 1
          example: バクマン。
        nameRomaji:
          type: string
          description: Romaji transliteration of the media name
          minLength: 1
          example: Bakuman.
        nameEn:
          type: string
          description: English name of the media
          minLength: 1
          example: Bakuman.
        airingFormat:
          type: string
          description: Format of the media release
          enum:
            - TV
            - MOVIE
            - OVA
            - ONA
            - SPECIAL
          example: TV
        airingStatus:
          type: string
          description: Current airing status
          enum:
            - FINISHED
            - RELEASING
            - NOT_YET_RELEASED
            - CANCELLED
          example: FINISHED
        genres:
          type: array
          items:
            type: string
            minLength: 1
          description: List of genres associated with the media
          example:
            - Comedy
            - Drama
            - Romance
            - Slice of Life
        coverUrl:
          type: string
          format: uri
          minLength: 1
          description: Full URL to the cover image
          example: https://cdn.example.com/media/anime/bakuman/cover.webp
        bannerUrl:
          type: string
          format: uri
          minLength: 1
          description: Full URL to the banner image
          example: https://cdn.example.com/media/anime/bakuman/banner.webp
        startDate:
          type: string
          format: date
          minLength: 1
          description: Start date of the media (first airing/release)
          example: '2010-10-02'
        endDate:
          type: string
          format: date
          nullable: true
          minLength: 1
          description: End date of the media (last airing/release)
          example: '2011-04-02'
        category:
          $ref: '#/components/schemas/Category'
        segmentCount:
          type: integer
          description: Total number of subtitle segments available
          minimum: 0
          example: 1234
        episodeCount:
          type: integer
          description: Total number of episodes available
          minimum: 0
          example: 25
        studio:
          type: string
          nullable: true
          description: Animation studio that produced the media
          example: J.C.STAFF
        seasonName:
          type: string
          description: Airing season label for the media
          enum:
            - WINTER
            - SPRING
            - SUMMER
            - FALL
          example: FALL
        seasonYear:
          type: integer
          description: Airing year for the media
          minimum: 1900
          maximum: 2100
          example: 2010
    SearchPagination:
      type: object
      description: Pagination metadata for search results
      required:
        - hasMore
        - estimatedTotalHits
        - estimatedTotalHitsRelation
        - cursor
      properties:
        hasMore:
          type: boolean
          description: Whether there are more results after this page
          example: true
        estimatedTotalHits:
          type: integer
          description: Estimated total number of matching segments
          minimum: 0
          example: 12456
        estimatedTotalHitsRelation:
          type: string
          description: |
            Whether `estimatedTotalHits` is exact or a lower bound.
            - `EXACT`: the value is the precise total
            - `AT_LEAST`: at least this many matches exist (true total may be higher)
          enum:
            - EXACT
            - AT_LEAST
          example: AT_LEAST
        cursor:
          type: string
          nullable: true
          minLength: 1
          description: Opaque cursor token to pass on the next request to fetch the following page
    SearchResponse:
      type: object
      required:
        - segments
        - pagination
      properties:
        segments:
          type: array
          items:
            $ref: '#/components/schemas/Segment'
        includes:
          type: object
          description: Optional related resources requested via `include[]`
          properties:
            media:
              type: object
              additionalProperties:
                $ref: '#/components/schemas/Media'
              description: Media objects keyed by publicId. Present only when `include[]=media` is requested.
        pagination:
          $ref: '#/components/schemas/SearchPagination'
    Error400:
      type: object
      description: Bad Request error response
      required:
        - code
        - title
        - detail
        - status
      properties:
        code:
          type: string
          description: Specific error code for programmatic handling
          enum:
            - VALIDATION_FAILED
            - INVALID_JSON
            - INVALID_REQUEST
        title:
          type: string
          minLength: 1
          description: A short, human-readable summary of the problem
        detail:
          type: string
          minLength: 1
          description: A human-readable explanation specific to this occurrence
        type:
          type: string
          format: uri
          minLength: 1
          description: A URI reference that identifies the problem type (e.g., GitHub issues link)
        instance:
          type: string
          minLength: 1
          description: A URI reference that identifies the specific occurrence (e.g., trace ID)
        status:
          type: integer
          description: The HTTP status code
          enum:
            - 400
        errors:
          type: object
          additionalProperties:
            type: string
          description: Optional map of field names to their error messages (for validation errors)
    Error401:
      type: object
      description: Unauthorized error response
      required:
        - code
        - title
        - detail
        - status
      properties:
        code:
          type: string
          description: Specific error code for programmatic handling
          enum:
            - AUTH_CREDENTIALS_REQUIRED
            - AUTH_CREDENTIALS_INVALID
            - AUTH_CREDENTIALS_EXPIRED
        title:
          type: string
          minLength: 1
          description: A short, human-readable summary of the problem
        detail:
          type: string
          minLength: 1
          description: A human-readable explanation specific to this occurrence
        type:
          type: string
          format: uri
          minLength: 1
          description: A URI reference that identifies the problem type (e.g., GitHub issues link)
        instance:
          type: string
          minLength: 1
          description: A URI reference that identifies the specific occurrence (e.g., trace ID)
        status:
          type: integer
          description: The HTTP status code
          enum:
            - 401
        errors:
          type: object
          additionalProperties:
            type: string
          description: Optional map of field names to their error messages (for validation errors)
    Error403:
      type: object
      description: Forbidden error response
      required:
        - code
        - title
        - detail
        - status
      properties:
        code:
          type: string
          description: Specific error code for programmatic handling
          enum:
            - ACCESS_DENIED
            - INSUFFICIENT_PERMISSIONS
        title:
          type: string
          minLength: 1
          description: A short, human-readable summary of the problem
        detail:
          type: string
          minLength: 1
          description: A human-readable explanation specific to this occurrence
        type:
          type: string
          format: uri
          minLength: 1
          description: A URI reference that identifies the problem type (e.g., GitHub issues link)
        instance:
          type: string
          minLength: 1
          description: A URI reference that identifies the specific occurrence (e.g., trace ID)
        status:
          type: integer
          description: The HTTP status code
          enum:
            - 403
        errors:
          type: object
          additionalProperties:
            type: string
          description: Optional map of field names to their error messages (for validation errors)
    Error429:
      type: object
      description: Too Many Requests error response
      required:
        - code
        - title
        - detail
        - status
      properties:
        code:
          type: string
          description: Specific error code for programmatic handling
          enum:
            - RATE_LIMIT_EXCEEDED
            - QUOTA_EXCEEDED
        title:
          type: string
          minLength: 1
          description: A short, human-readable summary of the problem
        detail:
          type: string
          minLength: 1
          description: A human-readable explanation specific to this occurrence
        type:
          type: string
          format: uri
          minLength: 1
          description: A URI reference that identifies the problem type (e.g., GitHub issues link)
        instance:
          type: string
          minLength: 1
          description: A URI reference that identifies the specific occurrence (e.g., trace ID)
        status:
          type: integer
          description: The HTTP status code
          enum:
            - 429
        errors:
          type: object
          additionalProperties:
            type: string
          description: Optional map of field names to their error messages (for validation errors)
    Error500:
      type: object
      description: Internal Server Error response
      required:
        - code
        - title
        - detail
        - status
      properties:
        code:
          type: string
          description: Specific error code for programmatic handling
          enum:
            - INTERNAL_SERVER_EXCEPTION
        title:
          type: string
          minLength: 1
          description: A short, human-readable summary of the problem
        detail:
          type: string
          minLength: 1
          description: A human-readable explanation specific to this occurrence
        type:
          type: string
          format: uri
          minLength: 1
          description: A URI reference that identifies the problem type (e.g., GitHub issues link)
        instance:
          type: string
          minLength: 1
          description: A URI reference that identifies the specific occurrence (e.g., trace ID)
        status:
          type: integer
          description: The HTTP status code
          enum:
            - 500
        errors:
          type: object
          additionalProperties:
            type: string
          description: Optional map of field names to their error messages (for validation errors)
    SearchStatsRequest:
      type: object
      description: |
        Stats request. All fields are optional — omit `query` to get filter counts for the full corpus.
      properties:
        query:
          $ref: '#/components/schemas/SearchQuery'
        filters:
          $ref: '#/components/schemas/SearchFilters'
        include:
          type: array
          description: Optional resources to expand in the response `includes` block
          items:
            $ref: '#/components/schemas/IncludeExpansion'
          default: []
    MediaSearchStats:
      type: object
      description: Search hit statistics for a single media
      required:
        - mediaPublicId
        - matchCount
        - episodeHits
      properties:
        mediaPublicId:
          type: string
          description: Media public ID (look up full details in `includes.media` when `include[]=media` is requested)
          pattern: ^[A-Za-z0-9_-]{12}$
          example: V1StGXR8_Z5d
        matchCount:
          type: integer
          description: Number of matching segments found in this media
          minimum: 0
          example: 42
        episodeHits:
          type: array
          description: Episode-level hit counts
          items:
            type: object
            required:
              - episode
              - hitCount
            properties:
              episode:
                type: integer
                description: Episode number
                minimum: 0
                example: 1
              hitCount:
                type: integer
                description: Number of matching segments in this episode
                minimum: 0
                example: 5
          example:
            - episode: 1
              hitCount: 5
            - episode: 2
              hitCount: 8
            - episode: 3
              hitCount: 3
    CategoryCount:
      type: object
      description: Count of entries grouped by media category
      required:
        - category
        - count
      properties:
        category:
          $ref: '#/components/schemas/Category'
        count:
          type: integer
          description: Number of entries in this category
          minimum: 0
          example: 1523
    SearchStatsResponse:
      type: object
      required:
        - media
        - categories
      properties:
        media:
          type: array
          items:
            $ref: '#/components/schemas/MediaSearchStats'
        categories:
          type: array
          items:
            $ref: '#/components/schemas/CategoryCount'
        includes:
          type: object
          description: Optional related resources requested via `include[]`
          properties:
            media:
              type: object
              additionalProperties:
                $ref: '#/components/schemas/Media'
              description: Media objects keyed by publicId. Present only when `include[]=media` is requested.
    SearchMultipleQuery:
      type: object
      description: What to search for (multiple words)
      required:
        - words
      properties:
        words:
          type: array
          items:
            type: string
            minLength: 1
            maxLength: 100
          description: List of words to search for
          minItems: 1
          maxItems: 100
          example:
            - 彼女
            - 私
        exactMatch:
          type: boolean
          default: false
          description: Require exact phrase matching (disables fuzzy and partial matches)
    SearchMultipleRequest:
      type: object
      required:
        - query
      properties:
        query:
          $ref: '#/components/schemas/SearchMultipleQuery'
        filters:
          $ref: '#/components/schemas/SearchFilters'
        include:
          type: array
          description: Optional resources to expand in the response `includes` block
          items:
            $ref: '#/components/schemas/IncludeExpansion'
          default: []
    WordMatchMedia:
      type: object
      description: Media match count entry
      required:
        - mediaPublicId
        - matchCount
      properties:
        mediaPublicId:
          type: string
          description: Media public ID (look up full details in `includes.media` when `include[]=media` is requested)
          pattern: ^[A-Za-z0-9_-]{12}$
          example: V1StGXR8_Z5d
        matchCount:
          type: integer
          description: Number of times the word appears in this media
          minimum: 0
          example: 234
    WordMatch:
      type: object
      description: Word matching result with occurrences across media
      required:
        - word
        - isMatch
        - matchCount
        - media
      properties:
        word:
          type: string
          description: The word that was searched for
          minLength: 1
          example: 彼女
        isMatch:
          type: boolean
          description: Indicates whether the word was found in any segment
          example: true
        matchCount:
          type: integer
          description: Total number of times this word appears across all media
          minimum: 0
          example: 1523
        media:
          type: array
          description: List of media containing this word
          items:
            $ref: '#/components/schemas/WordMatchMedia'
    SearchMultipleResponse:
      type: object
      required:
        - results
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/WordMatch'
        includes:
          type: object
          description: Optional related resources requested via `include[]`
          properties:
            media:
              type: object
              additionalProperties:
                $ref: '#/components/schemas/Media'
              description: Media objects keyed by publicId. Present only when `include[]=media` is requested.
    SearchMediaFilters:
      type: object
      description: Filters for narrowing media search results
      properties:
        category:
          type: array
          description: Media category filter
          items:
            $ref: '#/components/schemas/Category'
          default:
            - ANIME
            - JDRAMA
    SearchMediaRequest:
      type: object
      required:
        - query
      properties:
        query:
          type: string
          description: Search term to match against media names (English, Japanese, romaji)
          minLength: 1
          pattern: .*\S.*
          example: steins
        take:
          type: integer
          description: Maximum number of results to return
          default: 10
          minimum: 1
          maximum: 40
        filters:
          $ref: '#/components/schemas/SearchMediaFilters'
    MediaSummary:
      type: object
      description: Slim media item returned by autocomplete (names + cover only)
      required:
        - publicId
        - slug
        - nameJa
        - nameRomaji
        - nameEn
        - coverUrl
        - category
      properties:
        publicId:
          type: string
          description: Public ID for the media
          pattern: ^[A-Za-z0-9_-]{12}$
          example: V1StGXR8_Z5d
        slug:
          type: string
          minLength: 1
          description: URL-friendly slug for the media
          example: bakuman
        nameJa:
          type: string
          minLength: 1
          description: Original Japanese name of the media
          example: バクマン。
        nameRomaji:
          type: string
          minLength: 1
          description: Romaji transliteration of the media name
          example: Bakuman.
        nameEn:
          type: string
          minLength: 1
          description: English name of the media
          example: Bakuman.
        coverUrl:
          type: string
          format: uri
          minLength: 1
          description: Full URL to the cover image
          example: https://cdn.example.com/media/anime/bakuman/cover.webp
        category:
          $ref: '#/components/schemas/Category'
    MediaAutocompleteResponse:
      type: object
      required:
        - media
      properties:
        media:
          type: array
          items:
            $ref: '#/components/schemas/MediaSummary'
    WordCoverageTier:
      type: object
      description: Coverage statistics for a frequency tier
      required:
        - tier
        - covered
        - total
        - percentage
      properties:
        tier:
          type: integer
          minimum: 1
          description: The frequency tier (e.g. 1000 means top 1000 words)
          example: 5000
        covered:
          type: integer
          minimum: 0
          description: Number of words with at least one match in the corpus
          example: 4823
        total:
          type: integer
          minimum: 0
          description: Total number of words in this tier
          example: 5000
        percentage:
          type: number
          format: float
          minimum: 0
          maximum: 100
          description: Coverage percentage
          example: 96.5
    StatsOverview:
      type: object
      description: Corpus statistics overview
      required:
        - totalSegments
        - totalEpisodes
        - totalMedia
        - totalFrequencyWords
        - dialogueHours
        - tiers
        - lastUpdated
        - translations
      properties:
        totalSegments:
          type: integer
          minimum: 0
          description: Total number of active segments in the corpus
          example: 1200000
        totalEpisodes:
          type: integer
          minimum: 0
          description: Total number of episodes
          example: 8500
        totalMedia:
          type: integer
          minimum: 0
          description: Total number of media entries
          example: 350
        totalFrequencyWords:
          type: integer
          minimum: 0
          description: Total number of words in the frequency list
          example: 215900
        dialogueHours:
          type: number
          format: float
          minimum: 0
          description: Total hours of Japanese dialogue (subtitle coverage time)
          example: 2450.5
        tiers:
          type: array
          items:
            $ref: '#/components/schemas/WordCoverageTier'
        lastUpdated:
          type: string
          format: date-time
          nullable: true
          description: When the word coverage data was last updated
        translations:
          type: object
          required:
            - total
            - enHuman
            - enMachine
            - esHuman
            - esMachine
          properties:
            total:
              type: integer
              minimum: 0
              description: Total active segments
              example: 1200000
            enHuman:
              type: integer
              minimum: 0
              description: Segments with human English translations
              example: 800000
            enMachine:
              type: integer
              minimum: 0
              description: Segments with machine English translations
              example: 350000
            esHuman:
              type: integer
              minimum: 0
              description: Segments with human Spanish translations
              example: 200000
            esMachine:
              type: integer
              minimum: 0
              description: Segments with machine Spanish translations
              example: 400000
    CursorPagination:
      type: object
      description: Opaque cursor pagination metadata
      required:
        - hasMore
        - cursor
      properties:
        hasMore:
          type: boolean
          description: Whether more results are available
          example: true
        cursor:
          type: string
          nullable: true
          minLength: 1
          description: Opaque token to pass on the next request to fetch the following page
          example: eyJraW...IxfQ
    MediaGlobalStats:
      type: object
      description: Global corpus totals across all media
      required:
        - totalMedia
        - totalSegments
        - totalEpisodes
      properties:
        totalMedia:
          type: integer
          description: Total number of media across all pages
          minimum: 0
          example: 312
        totalSegments:
          type: integer
          description: Total number of non-deleted segments
          minimum: 0
          example: 184520
        totalEpisodes:
          type: integer
          description: Total number of episodes
          minimum: 0
          example: 4287
    MediaListResponse:
      type: object
      required:
        - media
        - pagination
        - stats
      properties:
        media:
          type: array
          items:
            $ref: '#/components/schemas/Media'
        pagination:
          $ref: '#/components/schemas/CursorPagination'
        stats:
          $ref: '#/components/schemas/MediaGlobalStats'
    Error404:
      type: object
      description: Not Found error response
      required:
        - code
        - title
        - detail
        - status
      properties:
        code:
          type: string
          description: Specific error code for programmatic handling
          enum:
            - NOT_FOUND
        title:
          type: string
          minLength: 1
          description: A short, human-readable summary of the problem
        detail:
          type: string
          minLength: 1
          description: A human-readable explanation specific to this occurrence
        type:
          type: string
          format: uri
          minLength: 1
          description: A URI reference that identifies the problem type (e.g., GitHub issues link)
        instance:
          type: string
          minLength: 1
          description: A URI reference that identifies the specific occurrence (e.g., trace ID)
        status:
          type: integer
          description: The HTTP status code
          enum:
            - 404
        errors:
          type: object
          additionalProperties:
            type: string
          description: Optional map of field names to their error messages (for validation errors)
    SegmentContextResponse:
      type: object
      required:
        - segments
      properties:
        segments:
          type: array
          items:
            $ref: '#/components/schemas/Segment'
        includes:
          type: object
          description: Optional related resources requested via `include[]`
          properties:
            media:
              type: object
              additionalProperties:
                $ref: '#/components/schemas/Media'
              description: Media objects keyed by publicId. Present only when `include[]=media` is requested.
    Episode:
      type: object
      description: Episode entry with metadata and dialogue segment count
      required:
        - mediaPublicId
        - episodeNumber
        - titleEn
        - titleRomaji
        - titleJa
        - description
        - airedAt
        - lengthSeconds
        - thumbnailUrl
        - segmentCount
      properties:
        mediaPublicId:
          type: string
          description: Media public ID this episode belongs to
          pattern: ^[A-Za-z0-9_-]{12}$
          example: V1StGXR8_Z5d
        episodeNumber:
          type: integer
          description: Episode number within the media (0 for movies/specials)
          minimum: 0
          example: 1
        titleEn:
          type: string
          nullable: true
          minLength: 1
          description: English title of the episode
          example: The Beginning
        titleRomaji:
          type: string
          nullable: true
          minLength: 1
          description: Romanized title of the episode
          example: Hajimari
        titleJa:
          type: string
          nullable: true
          minLength: 1
          description: Japanese title of the episode
          example: 始まり
        description:
          type: string
          nullable: true
          minLength: 1
          description: Episode description or synopsis
          example: The hero begins their journey
        airedAt:
          type: string
          format: date-time
          nullable: true
          description: When the episode originally aired
          example: '2024-01-15T09:00:00Z'
        lengthSeconds:
          type: integer
          nullable: true
          minimum: 0
          description: Episode duration in seconds
          example: 1420
        thumbnailUrl:
          type: string
          format: uri
          nullable: true
          minLength: 1
          description: URL to episode thumbnail image
          example: https://example.com/thumbnails/episode1.jpg
        segmentCount:
          type: integer
          description: Number of segments in this episode
          minimum: 0
          example: 450
    EpisodeListResponse:
      type: object
      required:
        - episodes
        - pagination
      properties:
        episodes:
          type: array
          items:
            $ref: '#/components/schemas/Episode'
        pagination:
          $ref: '#/components/schemas/CursorPagination'
    UserMe:
      type: object
      required:
        - user
        - quota
      properties:
        user:
          type: object
          required:
            - username
            - createdAt
            - role
          properties:
            username:
              type: string
              minLength: 1
              description: The user's display name.
              example: tanaka_san
            createdAt:
              type: string
              format: date-time
              description: When the account was created.
              example: '2024-03-15T10:00:00.000Z'
            role:
              type: string
              minLength: 1
              description: The user's account tier or role.
              example: USER
        quota:
          type: object
          required:
            - used
            - limit
            - remaining
            - periodYyyymm
            - periodStart
            - periodEnd
          properties:
            used:
              type: integer
              minimum: 0
              description: Number of API requests used this month.
              example: 342
            limit:
              type: integer
              minimum: 0
              description: Maximum number of API requests allowed per month.
              example: 5000
            remaining:
              type: integer
              minimum: 0
              description: Number of API requests remaining this month.
              example: 4658
            periodYyyymm:
              type: integer
              minimum: 202001
              description: Current month in YYYYMM format.
              example: 202602
            periodStart:
              type: string
              format: date-time
              description: Start of the current month (UTC).
              example: '2026-02-01T00:00:00.000Z'
            periodEnd:
              type: string
              format: date-time
              description: End of the current month (UTC).
              example: '2026-02-28T23:59:59.999Z'
    ActivityType:
      type: string
      enum:
        - SEARCH
        - ANKI_EXPORT
        - SEGMENT_PLAY
        - SHARE
      description: Type of user activity
    UserActivity:
      type: object
      required:
        - id
        - activityType
        - segmentPublicId
        - mediaPublicId
        - searchQuery
        - mediaName
        - japaneseText
        - createdAt
      properties:
        id:
          type: integer
          minimum: 1
        activityType:
          $ref: '#/components/schemas/ActivityType'
        segmentPublicId:
          type: string
          nullable: true
          minLength: 1
          pattern: ^[A-Za-z0-9_-]{12}$
        mediaPublicId:
          type: string
          nullable: true
          minLength: 1
          pattern: ^[A-Za-z0-9_-]{12}$
        searchQuery:
          type: string
          nullable: true
          minLength: 1
        mediaName:
          type: string
          nullable: true
          minLength: 1
        japaneseText:
          type: string
          nullable: true
          minLength: 1
        createdAt:
          type: string
          format: date-time
    HeatmapDayCounts:
      type: object
      description: Activity counts for a single day, broken down by type. Only types with at least 1 event are present.
      properties:
        SEARCH:
          type: integer
          minimum: 0
        SEGMENT_PLAY:
          type: integer
          minimum: 0
        ANKI_EXPORT:
          type: integer
          minimum: 0
        SHARE:
          type: integer
          minimum: 0
    UserActivityStats:
      type: object
      description: Aggregate statistics about a user's activity
      required:
        - totalSearches
        - totalExports
        - totalPlays
        - totalListAdds
        - totalShares
        - topMedia
      properties:
        totalSearches:
          type: integer
          minimum: 0
          example: 1240
        totalExports:
          type: integer
          minimum: 0
          example: 82
        totalPlays:
          type: integer
          minimum: 0
          example: 3400
        totalListAdds:
          type: integer
          minimum: 0
          example: 58
        totalShares:
          type: integer
          minimum: 0
          example: 17
        topMedia:
          type: array
          items:
            type: object
            required:
              - mediaPublicId
              - mediaName
              - count
            properties:
              mediaPublicId:
                type: string
                minLength: 1
                example: V1StGXR8_Z5d
              mediaName:
                type: string
                minLength: 1
                example: Steins;Gate
              count:
                type: integer
                minimum: 1
                example: 240
    CollectionVisibility:
      type: string
      description: Visibility of a collection
      enum:
        - PUBLIC
        - PRIVATE
      example: PRIVATE
    Collection:
      type: object
      description: User segment collection
      required:
        - publicId
        - name
        - type
        - visibility
        - segmentCount
        - createdAt
        - updatedAt
      properties:
        publicId:
          type: string
          description: Public ID for the collection
          pattern: ^[A-Za-z0-9_-]{12}$
          example: V1StGXR8_Z5d
        name:
          type: string
          description: Name of the collection
          example: Study Favorites
        type:
          type: string
          enum:
            - USER
            - ANKI_EXPORT
          description: Type of the collection
          example: USER
        visibility:
          $ref: '#/components/schemas/CollectionVisibility'
        segmentCount:
          type: integer
          description: Number of segments in the collection
          example: 42
        createdAt:
          type: string
          format: date-time
          description: When the collection was created
        updatedAt:
          type: string
          format: date-time
          nullable: true
          description: When the collection was last updated
    CollectionListResponse:
      type: object
      description: Paginated collection list response
      required:
        - collections
        - pagination
      properties:
        collections:
          type: array
          items:
            $ref: '#/components/schemas/Collection'
        pagination:
          $ref: '#/components/schemas/CursorPagination'
    CollectionCreateRequest:
      type: object
      description: Request body for creating a new collection
      required:
        - name
      properties:
        name:
          type: string
          minLength: 1
          description: Name of the collection
          example: My Study List
        visibility:
          $ref: '#/components/schemas/CollectionVisibility'
    AddSegmentToCollectionRequest:
      type: object
      required:
        - segmentPublicId
      properties:
        segmentPublicId:
          type: string
          pattern: ^[A-Za-z0-9_-]{12}$
          description: Segment public ID
          example: V1StGXR8_Z5d
        note:
          type: string
          maxLength: 500
          description: Optional annotation
  examples:
    ValidationFailed:
      summary: Validation Failed
      value:
        code: VALIDATION_FAILED
        title: Validation Failed
        detail: The request data did not pass validation rules. Please check the errors field for details.
        type: https://github.com/BrigadaSOS/Nadeshiko/issues/new?template=bug_report.yml
        instance: trace-id-placeholder
        status: 400
        errors:
          query: Required
          limit: Must be a positive integer
          email: Invalid email format
    InvalidJson:
      summary: Invalid JSON
      value:
        code: INVALID_JSON
        title: Invalid JSON
        detail: The request body contains invalid JSON that could not be parsed. Please check the syntax.
        type: https://github.com/BrigadaSOS/Nadeshiko/issues/new?template=bug_report.yml
        instance: trace-id-placeholder
        status: 400
    AuthCredentialsRequired:
      summary: Authentication Credentials Required
      value:
        code: AUTH_CREDENTIALS_REQUIRED
        title: Authentication Credentials Required
        detail: No API key or session credentials were provided. Please include an Authorization Bearer token or a valid session cookie.
        type: https://github.com/BrigadaSOS/Nadeshiko/issues/new?template=bug_report.yml
        instance: trace-id-placeholder
        status: 401
    AuthCredentialsInvalid:
      summary: Invalid Authentication Credentials
      value:
        code: AUTH_CREDENTIALS_INVALID
        title: Invalid Authentication Credentials
        detail: The provided API key or session credentials are invalid. Please check your credentials and try again.
        type: https://github.com/BrigadaSOS/Nadeshiko/issues/new?template=bug_report.yml
        instance: trace-id-placeholder
        status: 401
    AuthCredentialsExpired:
      summary: Expired Authentication Credentials
      value:
        status: 401
        code: AUTH_CREDENTIALS_EXPIRED
        title: Expired Authentication Credentials
        detail: Your credentials are not valid anymore. Please sign in again or create a new API key.
        type: https://github.com/BrigadaSOS/Nadeshiko/issues/new?template=bug_report.yml
        instance: trace-id-placeholder
    InsufficientPermissions:
      summary: Insufficient Permissions
      value:
        code: INSUFFICIENT_PERMISSIONS
        title: Insufficient Permissions
        detail: 'Your account lacks the required permissions to perform this action. Required permissions: {permissions}.'
        type: https://github.com/BrigadaSOS/Nadeshiko/issues/new?template=bug_report.yml
        instance: trace-id-placeholder
        status: 403
    RateLimitExceeded:
      summary: Rate Limit Exceeded
      value:
        code: RATE_LIMIT_EXCEEDED
        title: Rate Limit Exceeded
        detail: You have made too many requests. Please slow down and try again later.
        type: https://github.com/BrigadaSOS/Nadeshiko/issues/new?template=bug_report.yml
        instance: trace-id-placeholder
        status: 429
    QuotaExceeded:
      summary: Quota Exceeded
      value:
        code: QUOTA_EXCEEDED
        title: Quota Exceeded
        detail: You have exceeded your monthly API quota. Please upgrade your plan or wait until next month.
        type: https://github.com/BrigadaSOS/Nadeshiko/issues/new?template=bug_report.yml
        instance: trace-id-placeholder
        status: 429
    InternalServerError:
      summary: Internal Server Error
      value:
        code: INTERNAL_SERVER_EXCEPTION
        title: Internal Server Error
        detail: An unexpected error occurred on our end. Please try again later. If the problem persists, please report this issue.
        type: https://github.com/BrigadaSOS/Nadeshiko/issues/new?template=bug_report.yml
        instance: trace-id-placeholder
        status: 500
    NotFound:
      summary: Not Found
      value:
        code: NOT_FOUND
        title: Not Found
        detail: The requested resource could not be found. Please check the URL and try again.
        type: https://github.com/BrigadaSOS/Nadeshiko/issues/new?template=bug_report.yml
        instance: trace-id-placeholder
        status: 404
  responses:
    BadRequest:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error400'
          examples:
            ValidationFailed:
              $ref: '#/components/examples/ValidationFailed'
            InvalidJson:
              $ref: '#/components/examples/InvalidJson'
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error401'
          examples:
            AuthCredentialsRequired:
              $ref: '#/components/examples/AuthCredentialsRequired'
            AuthCredentialsInvalid:
              $ref: '#/components/examples/AuthCredentialsInvalid'
            AuthCredentialsExpired:
              $ref: '#/components/examples/AuthCredentialsExpired'
    Forbidden:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error403'
          examples:
            InsufficientPermissions:
              $ref: '#/components/examples/InsufficientPermissions'
    TooManyRequests:
      description: Too Many Requests. The response body indicates whether the request was rejected due to per-minute rate limiting or monthly quota exhaustion.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error429'
          examples:
            RateLimitExceeded:
              $ref: '#/components/examples/RateLimitExceeded'
            QuotaExceeded:
              $ref: '#/components/examples/QuotaExceeded'
    InternalServerError:
      description: Internal Server Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error500'
          examples:
            InternalServerError:
              $ref: '#/components/examples/InternalServerError'
    NotFound:
      description: Not Found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error404'
          examples:
            NotFound:
              $ref: '#/components/examples/NotFound'
x-tagGroups:
  - name: Core
    tags:
      - Search
      - Media
  - name: User
    tags:
      - User
      - Activity
      - Collections
  - name: Misc
    tags:
      - Stats
