openapi: 3.1.0
info:
  title: Nadeshiko API
  description: |
    Welcome to the Nadeshiko API.

    ## Getting Started

    Nadeshiko uses API keys to grant access to the API. Authentication is performed using the Authorization header. Please note that you must be registered on Nadeshiko to generate an API key. If you haven't registered yet, please do so.

    If you haven't generated an API key yet, you can do so on your [account page](https://nadeshiko.co/settings/api), API section.
    Internal user/admin endpoints use session cookie authentication.
    401 response components are scoped by auth mode:
    - `UnauthorizedApiKey` for API key-only endpoints
    - `UnauthorizedSession` for session-only endpoints
    - `Unauthorized` for endpoints that accept either auth mode

    ### Quotas and Limits
    The API has a rate limit to ensure fair usage. Each API key is subject to a rate limit of 2000 requests per 5 minutes. Exceeding this limit will result in a temporary block with the following message:
    > "Too many requests. Please try again later."

    Additionally, each account has a monthly quota limit. Once the monthly quota is exceeded, further requests will receive the message:
    > "API Key quota exceeded for this month."

    | Account Type | Quota (Monthly) |
    |--------------|-----------------|
    | Default      | 2500 requests   |

    To increase your quota, please contact the Nadeshiko team. For more information, refer to the [contact page](https://nadeshiko.co/about).
  version: 1.5.1
  contact:
    name: Nadeshiko Team
    url: https://nadeshiko.co
  license:
    name: ISC
  x-logo:
    url: https://nadeshiko.co/logo.webp
    altText: Nadeshiko
    href: https://nadeshiko.co
servers:
  - description: Production server
    url: https://api.nadeshiko.co
tags:
  - name: Search
    description: |
      Search endpoints for querying Japanese segments across indexed media.
  - name: Media
    description: |
      Media CRUD endpoints for managing anime and J-Drama entries, episodes, segments, characters, and seiyuu.
paths:
  /v1/search:
    post:
      tags:
        - Search
      operationId: search
      summary: Search segments by query
      description: |
        The primary search endpoint for finding Japanese segments and their translations across indexed media (anime, J-Drama).

        This endpoint uses Elasticsearch with advanced Japanese text analysis supporting multiple input types (romaji, kanji, kana) and providing intelligent field-based boosting.

        **Query Features**
        - **Multi-language Support:** Search using Japanese (kanji/kana), Romaji, or English/Spanish
        - **Boolean Operators:** `AND`, `OR`, `NOT` supported (e.g., `(cat OR dog) AND bird`)
        - **Phrase Matching:** Use quotes for exact phrases (e.g., `"good morning"`), or pass `exactMatch: true` to the request body
        - **Wildcards:** `te*t` format (leading wildcards not supported)
        - **Smart Field Selection:** Automatically chooses optimal search fields based on input type

        **Input Type Handling**
        | Input Type | Search Strategy |
        |------------|-----------------|
        | **Romaji** (`go`, `taberu`) | Boosts EN/ES translations, reading form (pronunciation), and base form |
        | **Kanji** (`食べる`, `彼女`) | Searches content and base form (dictionary form). Ignores matches by reading (homophones). |
        | **Kana** (`たべる`, `かのじょ`) | Standard search across content, base form, and reading form |
        | **English/Spanish** | Direct translation search |

        **Permissions:** `READ_MEDIA`
      security:
        - ApiKey:
            - READ_MEDIA
        - SessionCookie: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
              examples:
                ValidationFailed:
                  $ref: '#/components/examples/ValidationFailed'
                InvalidJson:
                  $ref: '#/components/examples/InvalidJson'
        '401':
          $ref: '#/components/responses/UnauthorizedApiKey'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/search/stats:
    post:
      tags:
        - Search
      operationId: getSearchStats
      summary: Get search statistics
      description: |
        Returns statistics for search filters and category tabs without fetching segment rows.

        This endpoint is optimized for UI filter panels:
        - `media` powers the media dropdown on the right side.
        - `categories` powers category tabs below the search bar.

        The stats are scoped by query and category filters, but are not narrowed by a selected media/episode.

        **Permissions:** `READ_MEDIA`
      security:
        - ApiKey:
            - READ_MEDIA
        - SessionCookie: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchStatsRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchStatsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
              examples:
                ValidationFailed:
                  $ref: '#/components/examples/ValidationFailed'
                InvalidJson:
                  $ref: '#/components/examples/InvalidJson'
        '401':
          $ref: '#/components/responses/UnauthorizedApiKey'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/search/words:
    post:
      tags:
        - Search
      operationId: searchWords
      summary: Search by multiple words
      description: |
        Searches for multiple words simultaneously and aggregates results by media.

        Unlike the main search endpoint, this returns a summary of matches per media rather than individual segments.

        **Use Cases**
        - Vocabulary discovery across media library
        - Finding anime/dramas that use specific words
        - Comparing word usage across different titles

        **Permissions:** `READ_MEDIA`
      security:
        - ApiKey:
            - READ_MEDIA
        - SessionCookie: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchMultipleRequest'
            example:
              words:
                - 彼女
                - 私
              exactMatch: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchMultipleResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
              examples:
                ValidationFailed:
                  $ref: '#/components/examples/ValidationFailed'
                InvalidJson:
                  $ref: '#/components/examples/InvalidJson'
        '401':
          $ref: '#/components/responses/UnauthorizedApiKey'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/media:
    get:
      tags:
        - Media
      operationId: listMedia
      summary: List all media
      description: |
        Returns a paginated list of media with full metadata, including cover/banner images, episode counts, and genres.
        Supports filtering by category and text search.

        **Permissions:** `READ_MEDIA`
      security:
        - ApiKey:
            - READ_MEDIA
        - SessionCookie: []
      parameters:
        - name: take
          in: query
          description: Number of results per page
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 40
        - name: cursor
          in: query
          description: Opaque pagination cursor token
          schema:
            type: string
        - name: category
          in: query
          description: Filter by media category
          schema:
            type: string
            enum:
              - ANIME
              - JDRAMA
            example: ANIME
        - name: query
          in: query
          description: Search query for filtering media by name
          schema:
            type: string
            example: steins
        - name: include
          in: query
          description: Resources to expand in the media response
          schema:
            type: array
            items:
              $ref: '#/components/schemas/MediaIncludeExpansion'
            default: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnauthorizedApiKey'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/media/segments/{uuid}:
    get:
      tags:
        - Media
      operationId: getSegmentByUuid
      summary: Get segment by UUID or publicId
      description: |
        Returns a specific segment by its UUID or publicId. A shortcut alternative to the nested `/media/{mediaId}/episodes/{episodeNumber}/segments/{id}` path.

        Pass `include[]=ratingAnalysis` and/or `include[]=posAnalysis` to receive raw analysis fields alongside the standard segment data.

        **Permissions:** `UPDATE_MEDIA` (API key) or admin session
      security:
        - ApiKey:
            - UPDATE_MEDIA
        - SessionCookie:
            - ADMIN
      parameters:
        - name: uuid
          in: path
          required: true
          schema:
            type: string
          description: Segment UUID or publicId
          example: 3fd94cef-a3e1-31ae-bc8d-e743f03e9c7e
        - name: include
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
              enum:
                - ratingAnalysis
                - posAnalysis
                - hashedId
                - storageBasePath
                - storage
          style: form
          explode: true
          description: Additional internal fields to include in the response
      responses:
        '200':
          $ref: '#/components/responses/SegmentInternalResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/media/segments/{uuid}/context:
    get:
      tags:
        - Media
      operationId: getSegmentContext
      summary: Get surrounding context for a segment
      description: |
        Retrieves segments surrounding a specific segment within an episode.
        Returns segments both before and after the target, providing dialogue context for how a sentence is used.

        **Permissions:** `UPDATE_MEDIA` (API key) or admin session
      security:
        - ApiKey:
            - UPDATE_MEDIA
        - SessionCookie:
            - ADMIN
      parameters:
        - name: uuid
          in: path
          required: true
          schema:
            type: string
          description: Segment UUID or publicId
          example: 3fd94cef-a3e1-31ae-bc8d-e743f03e9c7e
        - name: take
          in: query
          schema:
            type: integer
            default: 3
            minimum: 1
            maximum: 30
          description: Number of segments to return before and after the target
        - name: contentRating
          in: query
          schema:
            type: array
            items:
              $ref: '#/components/schemas/ContentRating'
          description: Content ratings to include (omit for all ratings)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SegmentContextResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
              examples:
                ValidationFailed:
                  $ref: '#/components/examples/ValidationFailed'
                InvalidJson:
                  $ref: '#/components/examples/InvalidJson'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error404'
              examples:
                NotFound:
                  $ref: '#/components/examples/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/media/series:
    get:
      tags:
        - Media
      operationId: listSeries
      summary: List all series
      description: |
        Returns a paginated list of media series groupings.

        **Permissions:** `READ_MEDIA`
      security:
        - ApiKey:
            - READ_MEDIA
        - SessionCookie: []
      parameters:
        - name: take
          in: query
          description: Number of results per page
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
        - name: cursor
          in: query
          description: Opaque pagination cursor token
          schema:
            type: string
        - name: query
          in: query
          description: Case-insensitive search across English, Japanese, and Romaji names
          schema:
            type: string
            example: bakuman
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SeriesListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnauthorizedApiKey'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/media/series/{id}:
    get:
      tags:
        - Media
      operationId: getSeries
      summary: Get series details
      description: |
        Returns a series with all media entries sorted by position.

        **Permissions:** `READ_MEDIA`
      security:
        - ApiKey:
            - READ_MEDIA
        - SessionCookie: []
      parameters:
        - name: id
          in: path
          required: true
          description: Series public ID
          schema:
            type: string
            example: V1StGXR8_Z5d
        - name: include
          in: query
          description: Resources to expand in the series response
          schema:
            type: array
            items:
              $ref: '#/components/schemas/MediaIncludeExpansion'
            default: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SeriesWithMedia'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnauthorizedApiKey'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/media/characters/{id}:
    get:
      tags:
        - Media
      operationId: getCharacter
      summary: Get character details
      description: |
        Returns a character with their voice actors (seiyuu) and all media appearances.

        **Permissions:** `READ_MEDIA`
      security:
        - ApiKey:
            - READ_MEDIA
        - SessionCookie: []
      parameters:
        - name: id
          in: path
          required: true
          description: Character ID
          schema:
            type: integer
            example: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CharacterWithMedia'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnauthorizedApiKey'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/media/seiyuu/{id}:
    get:
      tags:
        - Media
      operationId: getSeiyuu
      summary: Get seiyuu details
      description: |
        Returns a voice actor (seiyuu) with all characters they voiced and their media appearances.

        **Permissions:** `READ_MEDIA`
      security:
        - ApiKey:
            - READ_MEDIA
        - SessionCookie: []
      parameters:
        - name: id
          in: path
          required: true
          description: Internal seiyuu ID
          schema:
            type: integer
            example: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SeiyuuWithRoles'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnauthorizedApiKey'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/media/{id}:
    get:
      tags:
        - Media
      operationId: getMedia
      summary: Get single media
      description: |
        Returns a single media entry by its ID with full metadata.

        **Permissions:** `READ_MEDIA`
      security:
        - ApiKey:
            - READ_MEDIA
        - SessionCookie: []
      parameters:
        - name: id
          in: path
          required: true
          description: Media public ID
          schema:
            type: string
            example: V1StGXR8_Z5d
        - name: include
          in: query
          description: Resources to expand in the media response
          schema:
            type: array
            items:
              $ref: '#/components/schemas/MediaIncludeExpansion'
            default: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Media'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnauthorizedApiKey'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/media/{mediaId}/episodes:
    get:
      operationId: listEpisodes
      tags:
        - Media
      summary: List episodes for a media
      description: |
        Returns a paginated list of episodes for a specific media.

        **Permissions:** `READ_MEDIA`
      security:
        - ApiKey:
            - READ_MEDIA
        - SessionCookie: []
      parameters:
        - name: mediaId
          in: path
          required: true
          schema:
            type: string
          description: Public ID of the media
          example: V1StGXR8_Z5d
        - name: take
          in: query
          required: false
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 100
          description: Maximum number of episodes to return
          example: 50
        - name: cursor
          in: query
          required: false
          schema:
            type: string
          description: Opaque pagination cursor token
          example: 10
      responses:
        '200':
          $ref: '#/components/responses/EpisodeListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnauthorizedApiKey'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/media/{mediaId}/episodes/{episodeNumber}:
    get:
      operationId: getEpisode
      tags:
        - Media
      summary: Get single episode
      description: |
        Returns a specific episode by media ID and episode number.

        **Permissions:** `READ_MEDIA`
      security:
        - ApiKey:
            - READ_MEDIA
        - SessionCookie: []
      parameters:
        - name: mediaId
          in: path
          required: true
          schema:
            type: string
          description: Public ID of the media
          example: V1StGXR8_Z5d
        - name: episodeNumber
          in: path
          required: true
          schema:
            type: integer
          description: Episode number
          example: 1
      responses:
        '200':
          $ref: '#/components/responses/EpisodeResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnauthorizedApiKey'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/media/{mediaId}/episodes/{episodeNumber}/segments/{id}:
    get:
      operationId: getSegment
      tags:
        - Media
      summary: Get single segment
      description: |
        Returns a specific segment by its ID within the media/episode hierarchy.

        **Permissions:** `READ_MEDIA`
      security:
        - ApiKey:
            - READ_MEDIA
        - SessionCookie: []
      parameters:
        - name: mediaId
          in: path
          required: true
          schema:
            type: string
          description: Public ID of the media
          example: V1StGXR8_Z5d
        - name: episodeNumber
          in: path
          required: true
          schema:
            type: integer
          description: Episode number
          example: 1
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Segment ID
          example: 12345
      responses:
        '200':
          $ref: '#/components/responses/SegmentResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnauthorizedApiKey'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
components:
  securitySchemes:
    ApiKey:
      type: http
      scheme: bearer
      bearerFormat: APIKey
      description: API key authentication via Authorization Bearer header
    SessionCookie:
      type: apiKey
      in: cookie
      name: nadeshiko.session_token
      description: Session authentication via cookie
  schemas:
    MediaFilterItem:
      type: object
      description: A media filter entry with optional episode restriction
      required:
        - mediaId
      properties:
        mediaId:
          type: string
          description: Media identifier (publicId or AniList external ID)
          example: abc123xyz
        episodes:
          type: array
          description: Specific episodes (omit for all episodes)
          items:
            type: integer
          example:
            - 1
            - 2
    Category:
      type: string
      description: Media category type
      enum:
        - ANIME
        - JDRAMA
      example: ANIME
      x-enum-descriptions:
        - value: ANIME
          description: Anime
        - value: JDRAMA
          description: Japanese Drama
    ContentRating:
      type: string
      description: Content rating level for the segment
      enum:
        - SAFE
        - SUGGESTIVE
        - QUESTIONABLE
        - EXPLICIT
      example: SAFE
    SearchFilters:
      type: object
      description: Search filters for narrowing segment results
      properties:
        media:
          type: object
          description: Media inclusion/exclusion filters
          properties:
            include:
              type: array
              description: Include only segments from these media (with optional episode filter)
              items:
                $ref: '#/components/schemas/MediaFilterItem'
            exclude:
              type: array
              description: Exclude segments from these media (with optional episode filter)
              items:
                $ref: '#/components/schemas/MediaFilterItem'
        category:
          type: array
          description: Media category filter
          items:
            $ref: '#/components/schemas/Category'
          default:
            - ANIME
            - JDRAMA
        contentRating:
          type: array
          description: Content ratings to include (omit for all ratings)
          items:
            $ref: '#/components/schemas/ContentRating'
        status:
          type: array
          description: Segment status filter
          items:
            type: string
            enum:
              - DELETED
              - ACTIVE
              - SUSPENDED
              - VERIFIED
              - INVALID
              - TOO_LONG
          default:
            - ACTIVE
        segmentLengthChars:
          type: object
          description: Content character count range filter
          properties:
            min:
              type: integer
              description: Minimum content length
              example: 10
            max:
              type: integer
              description: Maximum content length
              example: 50
        segmentDurationMs:
          type: object
          description: Segment audio duration range filter (in milliseconds)
          properties:
            min:
              type: integer
              description: Minimum duration in ms
              example: 1000
            max:
              type: integer
              description: Maximum duration in ms
              example: 10000
        languages:
          type: object
          description: Language inclusion/exclusion for search matching
          properties:
            exclude:
              type: array
              description: Language codes to exclude from search matching (e.g., ["en"], ["es"], ["en","es"])
              items:
                type: string
                enum:
                  - en
                  - es
    IncludeExpansion:
      type: string
      description: Resource to expand in the response includes block
      enum:
        - media
    SearchRequest:
      type: object
      properties:
        query:
          type: object
          description: What to search for (omit for queryless browse)
          properties:
            search:
              type: string
              description: Search expression (supports boolean operators, wildcards, phrase matching)
              example: (猫 OR 犬) AND 好き
            exactMatch:
              type: boolean
              description: Whether to use exact phrase matching
              default: false
        take:
          type: integer
          description: Max amount of entries by response
          default: 10
        cursor:
          type: string
          description: Opaque cursor token returned from the previous search page
          example: eyJraW5kIjoia2V5c2V0IiwiY3Vyc29yIjpbMjMuMzE3MjcsN119
        sort:
          type: object
          description: Sort configuration
          properties:
            mode:
              type: string
              description: Sort mode
              enum:
                - ASC
                - DESC
                - NONE
                - TIME_ASC
                - TIME_DESC
                - RANDOM
              default: NONE
            seed:
              type: integer
              description: Non-negative integer seed for deterministic random sorting (only used when mode is RANDOM)
              minimum: 0
              example: 42
        filters:
          $ref: '#/components/schemas/SearchFilters'
        include:
          type: array
          description: Resources to expand in the response includes block
          items:
            $ref: '#/components/schemas/IncludeExpansion'
          default:
            - media
    Token:
      type: object
      description: Morphological token from Japanese text analysis
      required:
        - s
        - d
        - r
        - b
        - e
        - p
      properties:
        s:
          type: string
          description: Surface form (the text as it appears in the sentence)
          example: 食べ
        d:
          type: string
          description: Dictionary form (base/lemma form for search)
          example: 食べる
        r:
          type: string
          description: Reading in katakana
          example: タベ
        b:
          type: integer
          description: Begin character offset in textJa.content
          example: 3
        e:
          type: integer
          description: End character offset in textJa.content
          example: 5
        p:
          type: string
          description: Primary part-of-speech tag
          example: 動詞
        p1:
          type: string
          description: POS subtype 1 (UniDic pos[1])
          example: 固有名詞
        p2:
          type: string
          description: POS subtype 2 (UniDic pos[2])
          example: 人名
        p4:
          type: string
          description: Conjugation type (UniDic pos[4])
          example: 五段-カ行
        cf:
          type: string
          description: Conjugation form (UniDic pos[5])
          example: 連用形-一般
    Segment:
      type: object
      description: Segment with content, optional highlights, and media URLs
      required:
        - id
        - uuid
        - publicId
        - position
        - status
        - startTimeMs
        - endTimeMs
        - contentRating
        - episode
        - mediaId
        - mediaPublicId
        - textJa
        - textEn
        - textEs
        - urls
      properties:
        id:
          type: integer
          description: Numeric identifier for the segment
          example: 120045
        uuid:
          type: string
          description: Unique identifier for the segment
          example: 3fd94cef-a3e1-31ae-bc8d-e743f03e9c7e
        publicId:
          type: string
          description: Public identifier for the segment (use this instead of uuid in public URLs)
          example: V1StGXR8_Z5d
        position:
          type: integer
          description: Position of the segment within the episode
          example: 1133
        status:
          type: string
          enum:
            - DELETED
            - ACTIVE
            - SUSPENDED
            - VERIFIED
            - INVALID
            - TOO_LONG
          description: Segment status
          example: ACTIVE
        startTimeMs:
          type: integer
          description: Start time of the segment in milliseconds from the beginning of the episode
          example: 2007255
        endTimeMs:
          type: integer
          description: End time of the segment in milliseconds from the beginning of the episode
          example: 2008464
        contentRating:
          $ref: '#/components/schemas/ContentRating'
        episode:
          type: integer
          description: Episode number this segment belongs to
          example: 1
        mediaId:
          type: integer
          description: Media ID this segment belongs to
          example: 7674
        mediaPublicId:
          type: string
          description: Public ID of the media this segment belongs to
          example: V1StGXR8_Z5d
        textJa:
          type: object
          required:
            - content
          properties:
            content:
              type: string
              maxLength: 500
              description: Original Japanese content
              example: 僕は僕で、君は君だ。
            highlight:
              type: string
              description: Japanese content with search terms highlighted
            tokens:
              type: array
              description: Morphological tokens for interactive display (Labs feature)
              items:
                $ref: '#/components/schemas/Token'
        textEn:
          type: object
          required:
            - content
            - isMachineTranslated
          properties:
            content:
              type: string
              maxLength: 500
              description: English translation
              example: I am me, and you are you.
            isMachineTranslated:
              type: boolean
              description: Whether the translation was machine-translated
              example: false
            highlight:
              type: string
              description: English content with search terms highlighted
        textEs:
          type: object
          required:
            - content
            - isMachineTranslated
          properties:
            content:
              type: string
              maxLength: 500
              description: Spanish translation
              example: Yo soy yo, y tú eres tú.
            isMachineTranslated:
              type: boolean
              description: Whether the translation was machine-translated
              example: false
            highlight:
              type: string
              description: Spanish content with search terms highlighted
        urls:
          type: object
          description: URLs to media resources for this segment
          required:
            - imageUrl
            - audioUrl
            - videoUrl
          properties:
            imageUrl:
              type: string
              format: uri
              description: URL to the subtitle image snapshot
            audioUrl:
              type: string
              format: uri
              description: URL to the audio clip for this segment
            videoUrl:
              type: string
              format: uri
              description: URL to the video clip for this segment
    ExternalId:
      type: object
      description: Map of external IDs keyed by source. Only sources with values are included.
      properties:
        anilist:
          type: string
          description: AniList ID
          example: '21459'
        imdb:
          type: string
          description: IMDB ID
          example: tt1234567
        tvdb:
          type: string
          description: TVDB ID
          example: '12345'
        tmdb:
          type: string
          description: TMDB ID
          example: '90955'
    Seiyuu:
      type: object
      description: Japanese voice actor (seiyuu)
      required:
        - id
        - publicId
        - externalIds
        - nameJa
        - nameEn
        - imageUrl
      properties:
        id:
          type: integer
          description: Internal seiyuu ID
          example: 1
        publicId:
          type: string
          description: Public identifier for the seiyuu (use this in public URLs)
          example: V1StGXR8_Z5d
        externalIds:
          $ref: '#/components/schemas/ExternalId'
        nameJa:
          type: string
          description: Japanese name of the voice actor
          example: 阿部敦
        nameEn:
          type: string
          description: English name of the voice actor
          example: Atsushi Abe
        imageUrl:
          type: string
          format: uri
          description: Profile image URL
          example: https://s4.anilist.co/file/anilistcdn/staff/large/n95991.jpg
    MediaCharacter:
      type: object
      description: Character appearing in a media with their voice actor and role
      required:
        - id
        - nameJa
        - nameEn
        - imageUrl
        - seiyuu
        - role
      properties:
        id:
          type: integer
          description: AniList character ID
          example: 14545
        nameJa:
          type: string
          description: Japanese name of the character
          example: 真城最高
        nameEn:
          type: string
          description: English name of the character
          example: Moritaka Mashiro
        imageUrl:
          type: string
          format: uri
          description: Character image URL
          example: https://s4.anilist.co/file/anilistcdn/character/large/b14545.jpg
        seiyuu:
          $ref: '#/components/schemas/Seiyuu'
        role:
          type: string
          enum:
            - MAIN
            - SUPPORTING
            - BACKGROUND
          description: Character's role in the media
          example: MAIN
    Media:
      type: object
      description: Media entry with full metadata
      required:
        - id
        - publicId
        - externalIds
        - nameJa
        - nameRomaji
        - nameEn
        - airingFormat
        - airingStatus
        - genres
        - coverUrl
        - bannerUrl
        - startDate
        - category
        - segmentCount
        - episodeCount
        - seasonName
        - seasonYear
      properties:
        id:
          type: integer
          description: Internal unique identifier for the media
          example: 7674
        publicId:
          type: string
          description: Public identifier for the media (use this in public URLs)
          example: V1StGXR8_Z5d
        externalIds:
          $ref: '#/components/schemas/ExternalId'
        nameJa:
          type: string
          description: Original Japanese name of the media
          example: バクマン。
        nameRomaji:
          type: string
          description: Romaji transliteration of the media name
          example: Bakuman.
        nameEn:
          type: string
          description: English name of the media
          example: Bakuman.
        airingFormat:
          type: string
          description: Format of the media release (e.g., TV, OVA, Movie)
          example: TV
        airingStatus:
          type: string
          description: Current airing status (FINISHED, RELEASING, NOT_YET_RELEASED, CANCELLED)
          example: FINISHED
        genres:
          type: array
          items:
            type: string
          description: List of genres associated with the media
          example:
            - Comedy
            - Drama
            - Romance
            - Slice of Life
        coverUrl:
          type: string
          format: uri
          description: Full URL to the cover image
          example: https://cdn.example.com/media/anime/bakuman/cover.webp
        bannerUrl:
          type: string
          format: uri
          description: Full URL to the banner image
          example: https://cdn.example.com/media/anime/bakuman/banner.webp
        startDate:
          type: string
          format: date
          description: Start date of the media (first airing/release)
          example: '2010-10-02'
        endDate:
          type: string
          format: date
          nullable: true
          description: End date of the media (last airing/release)
          example: '2011-04-02'
        category:
          $ref: '#/components/schemas/Category'
        segmentCount:
          type: integer
          description: Total number of subtitle segments available
          example: 0
        episodeCount:
          type: integer
          description: Total number of episodes available
          example: 25
        studio:
          type: string
          nullable: true
          description: Animation studio that produced the media
          example: J.C.STAFF
        seasonName:
          type: string
          description: Airing season label for the media
          example: FALL
        seasonYear:
          type: integer
          description: Airing year for the media
          example: 2010
        characters:
          type: array
          items:
            $ref: '#/components/schemas/MediaCharacter'
          description: Characters appearing in the media with their voice actors
    PaginationInfo:
      type: object
      description: Pagination metadata for search results
      required:
        - hasMore
        - estimatedTotalHits
        - estimatedTotalHitsRelation
        - cursor
      properties:
        hasMore:
          type: boolean
          description: Whether there are more results after this page
          example: true
        estimatedTotalHits:
          type: integer
          description: Estimated total number of matching segments
          example: 12456
        estimatedTotalHitsRelation:
          type: string
          description: Whether estimatedTotalHits is exact or a lower bound
          enum:
            - EXACT
            - LOWER_BOUND
          example: LOWER_BOUND
        cursor:
          type: string
          nullable: true
          description: Opaque cursor token for fetching the next page (`null` when hasMore is false)
    SearchResponse:
      type: object
      required:
        - segments
        - includes
        - pagination
      properties:
        segments:
          type: array
          items:
            $ref: '#/components/schemas/Segment'
        includes:
          type: object
          required:
            - media
          properties:
            media:
              type: object
              additionalProperties:
                $ref: '#/components/schemas/Media'
              description: Media objects keyed by media publicId
        pagination:
          $ref: '#/components/schemas/PaginationInfo'
    Error400:
      type: object
      description: Bad Request error response
      required:
        - code
        - title
        - detail
        - status
      properties:
        code:
          type: string
          description: Specific error code for programmatic handling
          enum:
            - VALIDATION_FAILED
            - INVALID_JSON
            - INVALID_REQUEST
        title:
          type: string
          description: A short, human-readable summary of the problem
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence
        type:
          type: string
          format: uri
          description: A URI reference that identifies the problem type (e.g., GitHub issues link)
        instance:
          type: string
          description: A URI reference that identifies the specific occurrence (e.g., trace ID)
        status:
          type: integer
          description: The HTTP status code
          enum:
            - 400
        errors:
          type: object
          additionalProperties:
            type: string
          description: Optional map of field names to their error messages (for validation errors)
    Error401:
      type: object
      description: Unauthorized error response
      required:
        - code
        - title
        - detail
        - status
      properties:
        code:
          type: string
          description: Specific error code for programmatic handling
          enum:
            - AUTH_CREDENTIALS_REQUIRED
            - AUTH_CREDENTIALS_INVALID
            - AUTH_CREDENTIALS_EXPIRED
            - EMAIL_NOT_VERIFIED
        title:
          type: string
          description: A short, human-readable summary of the problem
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence
        type:
          type: string
          format: uri
          description: A URI reference that identifies the problem type (e.g., GitHub issues link)
        instance:
          type: string
          description: A URI reference that identifies the specific occurrence (e.g., trace ID)
        status:
          type: integer
          description: The HTTP status code
          enum:
            - 401
        errors:
          type: object
          additionalProperties:
            type: string
          description: Optional map of field names to their error messages (for validation errors)
    Error403:
      type: object
      description: Forbidden error response
      required:
        - code
        - title
        - detail
        - status
      properties:
        code:
          type: string
          description: Specific error code for programmatic handling
          enum:
            - ACCESS_DENIED
            - INSUFFICIENT_PERMISSIONS
        title:
          type: string
          description: A short, human-readable summary of the problem
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence
        type:
          type: string
          format: uri
          description: A URI reference that identifies the problem type (e.g., GitHub issues link)
        instance:
          type: string
          description: A URI reference that identifies the specific occurrence (e.g., trace ID)
        status:
          type: integer
          description: The HTTP status code
          enum:
            - 403
        errors:
          type: object
          additionalProperties:
            type: string
          description: Optional map of field names to their error messages (for validation errors)
    Error429:
      type: object
      description: Too Many Requests error response
      required:
        - code
        - title
        - detail
        - status
      properties:
        code:
          type: string
          description: Specific error code for programmatic handling
          enum:
            - RATE_LIMIT_EXCEEDED
            - QUOTA_EXCEEDED
        title:
          type: string
          description: A short, human-readable summary of the problem
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence
        type:
          type: string
          format: uri
          description: A URI reference that identifies the problem type (e.g., GitHub issues link)
        instance:
          type: string
          description: A URI reference that identifies the specific occurrence (e.g., trace ID)
        status:
          type: integer
          description: The HTTP status code
          enum:
            - 429
        errors:
          type: object
          additionalProperties:
            type: string
          description: Optional map of field names to their error messages (for validation errors)
    Error500:
      type: object
      description: Internal Server Error response
      required:
        - code
        - title
        - detail
        - status
      properties:
        code:
          type: string
          description: Specific error code for programmatic handling
          enum:
            - INTERNAL_SERVER_EXCEPTION
        title:
          type: string
          description: A short, human-readable summary of the problem
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence
        type:
          type: string
          format: uri
          description: A URI reference that identifies the problem type (e.g., GitHub issues link)
        instance:
          type: string
          description: A URI reference that identifies the specific occurrence (e.g., trace ID)
        status:
          type: integer
          description: The HTTP status code
          enum:
            - 500
        errors:
          type: object
          additionalProperties:
            type: string
          description: Optional map of field names to their error messages (for validation errors)
    SearchStatsRequest:
      type: object
      properties:
        query:
          type: object
          description: What to search for (omit for queryless stats)
          properties:
            search:
              type: string
              description: Search expression (supports boolean operators, wildcards, phrase matching)
              example: 彼女
            exactMatch:
              type: boolean
              description: Whether to use exact phrase matching
              default: false
        filters:
          $ref: '#/components/schemas/SearchFilters'
        include:
          type: array
          description: Resources to expand in the response includes block
          items:
            $ref: '#/components/schemas/IncludeExpansion'
          default: []
    MediaSearchStats:
      type: object
      description: Search hit statistics for a single media
      required:
        - mediaId
        - publicId
        - matchCount
        - episodeHits
      properties:
        mediaId:
          type: integer
          description: Media identifier (look up full details in includes.media)
          example: 110316
        publicId:
          type: string
          description: Public identifier for use in URLs and filters
          example: abc123xyz
        matchCount:
          type: integer
          description: Number of matching segments found in this media
          example: 42
        episodeHits:
          type: object
          description: Mapping of episode numbers to segment hit counts
          example:
            '1': 5
            '2': 8
            '3': 3
          additionalProperties:
            type: integer
    CategoryCount:
      type: object
      description: Count of entries grouped by media category
      required:
        - category
        - count
      properties:
        category:
          $ref: '#/components/schemas/Category'
        count:
          type: integer
          description: Number of entries in this category
          example: 1523
    SearchStatsResponse:
      type: object
      required:
        - media
        - categories
        - includes
      properties:
        media:
          type: array
          items:
            $ref: '#/components/schemas/MediaSearchStats'
        categories:
          type: array
          items:
            $ref: '#/components/schemas/CategoryCount'
        includes:
          type: object
          required:
            - media
          properties:
            media:
              type: object
              additionalProperties:
                $ref: '#/components/schemas/Media'
              description: Media objects keyed by media publicId
    SearchMultipleRequest:
      type: object
      properties:
        query:
          type: object
          description: What to search for
          properties:
            words:
              type: array
              items:
                type: string
              description: List of words to search for
              example:
                - 彼女
                - 私
            exactMatch:
              type: boolean
              default: false
              description: Whether to use exact matching
          required:
            - words
        filters:
          $ref: '#/components/schemas/SearchFilters'
        include:
          type: array
          description: Resources to expand in the response includes block
          items:
            $ref: '#/components/schemas/IncludeExpansion'
          default: []
      required:
        - query
    WordMatchMedia:
      type: object
      description: Media match count entry
      required:
        - mediaId
        - matchCount
      properties:
        mediaId:
          type: integer
          description: Media identifier (look up full details in includes.media)
          example: 110316
        matchCount:
          type: integer
          description: Number of times the word appears in this media
          example: 234
    WordMatch:
      type: object
      description: Word matching result with occurrences across media
      required:
        - word
        - isMatch
        - matchCount
        - media
      properties:
        word:
          type: string
          description: The word that was searched for
          example: 彼女
        isMatch:
          type: boolean
          description: Indicates whether the word was found in any segment
          example: true
        matchCount:
          type: integer
          description: Total number of times this word appears across all media
          example: 1523
        media:
          type: array
          description: List of media containing this word
          items:
            $ref: '#/components/schemas/WordMatchMedia'
    SearchMultipleResponse:
      type: object
      required:
        - results
        - includes
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/WordMatch'
        includes:
          type: object
          required:
            - media
          properties:
            media:
              type: object
              additionalProperties:
                $ref: '#/components/schemas/Media'
              description: Media objects keyed by mediaId
    MediaIncludeExpansion:
      type: string
      description: Resource to expand in media responses
      enum:
        - media.characters
    OpaqueCursorPagination:
      type: object
      description: Opaque cursor pagination metadata
      required:
        - hasMore
        - cursor
      properties:
        hasMore:
          type: boolean
          description: Whether more results are available
          example: true
        cursor:
          type: string
          nullable: true
          description: Opaque token for the next page (`null` when `hasMore` is `false`)
          example: eyJraW5kIjoia2V5c2V0IiwiY3Vyc29yIjo4NDIxfQ
    MediaListResponse:
      type: object
      required:
        - media
        - pagination
        - stats
      properties:
        media:
          type: array
          items:
            $ref: '#/components/schemas/Media'
        pagination:
          $ref: '#/components/schemas/OpaqueCursorPagination'
        stats:
          type: object
          required:
            - totalMedia
            - totalSegments
            - totalEpisodes
          properties:
            totalMedia:
              type: integer
              description: Total number of media across all pages
            totalSegments:
              type: integer
              description: Total number of non-deleted segments
            totalEpisodes:
              type: integer
              description: Total number of episodes
    SegmentInternal:
      description: |
        Segment with internal fields. For write operations (create, update) all fields are always populated.
        For GET, optional fields are only populated when requested via include[].
      allOf:
        - $ref: '#/components/schemas/Segment'
        - type: object
          properties:
            storage:
              type: string
              enum:
                - LOCAL
                - R2
              nullable: true
              description: Storage backend for segment assets
              example: R2
            hashedId:
              type: string
              nullable: true
              description: Hash identifier for the segment
              example: 0d39e46b14
            storageBasePath:
              type: string
              nullable: true
              description: Base path in the storage backend
              example: anime/steins-gate
            ratingAnalysis:
              type: object
              additionalProperties: true
              nullable: true
              description: Raw WD Tagger v3 classifier output used to derive content rating
            posAnalysis:
              type: object
              additionalProperties: true
              nullable: true
              description: POS tokenization results keyed by engine (sudachi, unidic)
    Error404:
      type: object
      description: Not Found error response
      required:
        - code
        - title
        - detail
        - status
      properties:
        code:
          type: string
          description: Specific error code for programmatic handling
          enum:
            - NOT_FOUND
        title:
          type: string
          description: A short, human-readable summary of the problem
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence
        type:
          type: string
          format: uri
          description: A URI reference that identifies the problem type (e.g., GitHub issues link)
        instance:
          type: string
          description: A URI reference that identifies the specific occurrence (e.g., trace ID)
        status:
          type: integer
          description: The HTTP status code
          enum:
            - 404
        errors:
          type: object
          additionalProperties:
            type: string
          description: Optional map of field names to their error messages (for validation errors)
    SegmentContextResponse:
      type: object
      required:
        - segments
        - includes
      properties:
        segments:
          type: array
          items:
            $ref: '#/components/schemas/Segment'
        includes:
          type: object
          properties:
            media:
              type: object
              additionalProperties:
                $ref: '#/components/schemas/Media'
              description: Media objects keyed by mediaId
    Series:
      type: object
      description: Ordered media series grouping
      required:
        - id
        - publicId
        - nameJa
        - nameRomaji
        - nameEn
      properties:
        id:
          type: integer
          description: Series ID
          example: 1
        publicId:
          type: string
          description: Public identifier for the series
          example: V1StGXR8_Z5d
        nameJa:
          type: string
          description: Japanese name of the series
          example: バクマン。シリーズ
        nameRomaji:
          type: string
          description: Romaji name of the series
          example: Bakuman. Series
        nameEn:
          type: string
          description: English name of the series
          example: Bakuman Series
    SeriesListResponse:
      type: object
      required:
        - series
        - pagination
      properties:
        series:
          type: array
          items:
            $ref: '#/components/schemas/Series'
        pagination:
          $ref: '#/components/schemas/OpaqueCursorPagination'
    SeriesWithMedia:
      type: object
      description: Series with ordered media entries
      required:
        - id
        - nameJa
        - nameRomaji
        - nameEn
        - media
      properties:
        id:
          type: integer
          description: Series ID
          example: 1
        nameJa:
          type: string
          description: Japanese name of the series
          example: バクマン。シリーズ
        nameRomaji:
          type: string
          description: Romaji name of the series
          example: Bakuman. Series
        nameEn:
          type: string
          description: English name of the series
          example: Bakuman Series
        media:
          type: array
          description: All media in the series, sorted by position
          items:
            type: object
            required:
              - position
              - media
            properties:
              position:
                type: integer
                description: Position in the series (1-indexed)
                example: 1
              media:
                $ref: '#/components/schemas/Media'
    Character:
      type: object
      description: Anime character
      required:
        - id
        - publicId
        - externalIds
        - nameJa
        - nameEn
        - imageUrl
      properties:
        id:
          type: integer
          description: Internal character ID
          example: 1
        publicId:
          type: string
          description: Public identifier for the character (use this in public URLs)
          example: V1StGXR8_Z5d
        externalIds:
          $ref: '#/components/schemas/ExternalId'
        nameJa:
          type: string
          description: Japanese name of the character
          example: 真城最高
        nameEn:
          type: string
          description: English name of the character
          example: Moritaka Mashiro
        imageUrl:
          type: string
          format: uri
          description: Character image URL
          example: https://s4.anilist.co/file/anilistcdn/character/large/b14545.jpg
    CharacterWithMedia:
      description: Character with voice actor and all media appearances
      allOf:
        - $ref: '#/components/schemas/Character'
        - type: object
          required:
            - seiyuu
            - mediaAppearances
          properties:
            seiyuu:
              $ref: '#/components/schemas/Seiyuu'
            mediaAppearances:
              type: array
              description: All media this character appears in
              items:
                type: object
                required:
                  - media
                  - role
                properties:
                  media:
                    $ref: '#/components/schemas/Media'
                  role:
                    type: string
                    enum:
                      - MAIN
                      - SUPPORTING
                      - BACKGROUND
                    description: Character role in this media
                    example: MAIN
    SeiyuuWithRoles:
      type: object
      description: Seiyuu details with optional character appearances
      required:
        - id
        - externalIds
        - nameJa
        - nameEn
        - imageUrl
        - characters
      properties:
        id:
          type: integer
          description: AniList staff ID
          example: 95991
        externalIds:
          $ref: '#/components/schemas/ExternalId'
        nameJa:
          type: string
          description: Japanese name of the voice actor
          example: 阿部敦
        nameEn:
          type: string
          description: English name of the voice actor
          example: Atsushi Abe
        imageUrl:
          type: string
          format: uri
          description: Profile image URL
          example: https://s4.anilist.co/file/anilistcdn/staff/large/n95991.jpg
        characters:
          type: array
          description: Characters voiced by this seiyuu with their media appearances
          items:
            allOf:
              - $ref: '#/components/schemas/Character'
              - type: object
                required:
                  - media
                  - role
                properties:
                  media:
                    $ref: '#/components/schemas/Media'
                  role:
                    type: string
                    enum:
                      - MAIN
                      - SUPPORTING
                      - BACKGROUND
                    description: Character role in this media
                    example: MAIN
    Episode:
      type: object
      required:
        - mediaId
        - episodeNumber
        - segmentCount
      properties:
        mediaId:
          type: integer
          description: ID of the media this episode belongs to
          example: 7674
        episodeNumber:
          type: integer
          description: Episode number within the media
          example: 1
        titleEn:
          type: string
          nullable: true
          description: English title of the episode
          example: The Beginning
        titleRomaji:
          type: string
          nullable: true
          description: Romanized title of the episode
          example: Hajimari
        titleJa:
          type: string
          nullable: true
          description: Japanese title of the episode
          example: 始まり
        description:
          type: string
          nullable: true
          description: Episode description or synopsis
          example: The hero begins their journey
        airedAt:
          type: string
          format: date-time
          nullable: true
          description: When the episode originally aired
          example: '2024-01-15T09:00:00Z'
        lengthSeconds:
          type: integer
          nullable: true
          description: Episode duration in seconds
          example: 1420
        thumbnailUrl:
          type: string
          nullable: true
          description: URL to episode thumbnail image
          example: https://example.com/thumbnails/episode1.jpg
        segmentCount:
          type: integer
          description: Number of segments in this episode
          example: 450
    EpisodeListResponse:
      type: object
      required:
        - episodes
        - pagination
      properties:
        episodes:
          type: array
          items:
            $ref: '#/components/schemas/Episode'
          description: Array of episode objects
        pagination:
          $ref: '#/components/schemas/OpaqueCursorPagination'
  examples:
    ValidationFailed:
      summary: Validation Failed
      value:
        code: VALIDATION_FAILED
        title: Validation Failed
        detail: The request data did not pass validation rules. Please check the errors field for details.
        type: https://github.com/BrigadaSOS/Nadeshiko/issues/new?template=bug_report.yml
        instance: trace-id-placeholder
        status: 400
        errors:
          query: Required
          limit: Must be a positive integer
          email: Invalid email format
    InvalidJson:
      summary: Invalid JSON
      value:
        code: INVALID_JSON
        title: Invalid JSON
        detail: The request body contains invalid JSON that could not be parsed. Please check the syntax.
        type: https://github.com/BrigadaSOS/Nadeshiko/issues/new?template=bug_report.yml
        instance: trace-id-placeholder
        status: 400
    AuthCredentialsRequired:
      summary: Authentication Credentials Required
      value:
        code: AUTH_CREDENTIALS_REQUIRED
        title: Authentication Credentials Required
        detail: No API key or session credentials were provided. Please include an Authorization Bearer token or a valid session cookie.
        type: https://github.com/BrigadaSOS/Nadeshiko/issues/new?template=bug_report.yml
        instance: trace-id-placeholder
        status: 401
    AuthCredentialsInvalid:
      summary: Invalid Authentication Credentials
      value:
        code: AUTH_CREDENTIALS_INVALID
        title: Invalid Authentication Credentials
        detail: The provided API key or session credentials are invalid. Please check your credentials and try again.
        type: https://github.com/BrigadaSOS/Nadeshiko/issues/new?template=bug_report.yml
        instance: trace-id-placeholder
        status: 401
    AuthCredentialsExpired:
      summary: Expired Authentication Credentials
      value:
        status: 401
        code: AUTH_CREDENTIALS_EXPIRED
        title: Expired Authentication Credentials
        detail: Your credentials are not valid anymore. Please sign in again or create a new API key.
        type: https://github.com/BrigadaSOS/Nadeshiko/issues/new?template=bug_report.yml
        instance: trace-id-placeholder
    InsufficientPermissions:
      summary: Insufficient Permissions
      value:
        code: INSUFFICIENT_PERMISSIONS
        title: Insufficient Permissions
        detail: 'Your account lacks the required permissions to perform this action. Required permissions: {permissions}.'
        type: https://github.com/BrigadaSOS/Nadeshiko/issues/new?template=bug_report.yml
        instance: trace-id-placeholder
        status: 403
    RateLimitExceeded:
      summary: Rate Limit Exceeded
      value:
        code: RATE_LIMIT_EXCEEDED
        title: Rate Limit Exceeded
        detail: You have made too many requests. Please slow down and try again later.
        type: https://github.com/BrigadaSOS/Nadeshiko/issues/new?template=bug_report.yml
        instance: trace-id-placeholder
        status: 429
    QuotaExceeded:
      summary: Quota Exceeded
      value:
        code: QUOTA_EXCEEDED
        title: Quota Exceeded
        detail: You have exceeded your monthly API quota. Please upgrade your plan or wait until next month.
        type: https://github.com/BrigadaSOS/Nadeshiko/issues/new?template=bug_report.yml
        instance: trace-id-placeholder
        status: 429
    InternalServerError:
      summary: Internal Server Error
      value:
        code: INTERNAL_SERVER_EXCEPTION
        title: Internal Server Error
        detail: An unexpected error occurred on our end. Please try again later. If the problem persists, please report this issue.
        type: https://github.com/BrigadaSOS/Nadeshiko/issues/new?template=bug_report.yml
        instance: trace-id-placeholder
        status: 500
    NotFound:
      summary: Not Found
      value:
        code: NOT_FOUND
        title: Not Found
        detail: The requested resource could not be found. Please check the URL and try again.
        type: https://github.com/BrigadaSOS/Nadeshiko/issues/new?template=bug_report.yml
        instance: trace-id-placeholder
        status: 404
  responses:
    UnauthorizedApiKey:
      description: Unauthorized (API key)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error401'
          examples:
            AuthCredentialsRequired:
              $ref: '#/components/examples/AuthCredentialsRequired'
            AuthCredentialsInvalid:
              $ref: '#/components/examples/AuthCredentialsInvalid'
            AuthCredentialsExpired:
              $ref: '#/components/examples/AuthCredentialsExpired'
    Forbidden:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error403'
          examples:
            InsufficientPermissions:
              $ref: '#/components/examples/InsufficientPermissions'
    TooManyRequests:
      description: Too Many Requests
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error429'
          examples:
            RateLimitExceeded:
              $ref: '#/components/examples/RateLimitExceeded'
            QuotaExceeded:
              $ref: '#/components/examples/QuotaExceeded'
    InternalServerError:
      description: Internal Server Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error500'
          examples:
            InternalServerError:
              $ref: '#/components/examples/InternalServerError'
    BadRequest:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error400'
          examples:
            ValidationFailed:
              $ref: '#/components/examples/ValidationFailed'
            InvalidJson:
              $ref: '#/components/examples/InvalidJson'
    SegmentInternalResponse:
      description: Single segment response with internal fields
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SegmentInternal'
    Unauthorized:
      description: Unauthorized (API key or session)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error401'
          examples:
            AuthCredentialsRequired:
              $ref: '#/components/examples/AuthCredentialsRequired'
            AuthCredentialsInvalid:
              $ref: '#/components/examples/AuthCredentialsInvalid'
            AuthCredentialsExpired:
              $ref: '#/components/examples/AuthCredentialsExpired'
    NotFound:
      description: Not Found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error404'
          examples:
            NotFound:
              $ref: '#/components/examples/NotFound'
    EpisodeListResponse:
      description: Paginated list of episodes
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/EpisodeListResponse'
    EpisodeResponse:
      description: Single episode response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Episode'
    SegmentResponse:
      description: Single segment response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Segment'
