@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
  }
 
  .dark {
    --background: #171717;
    --header-background: #ca4e4e;
    --footer-background: #1f1f1f;
    --button-color-primary: #2f2f2f;
    --button-color-hover-primary: #333333;
    --input-background: #2f2f2f;
    --card-background: #212121;
    
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

}
 
