@tailwind base;
@tailwind components;
@tailwind utilities;

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #1d1d1d;
  z-index: -1;
}

@layer base {
  :root {
    --background: 0 0% 100%;
  }
 
  .dark {
    --background: #1d1d1d;
    --header-background: #ef5552;
    --footer-background: #1f1f1f;
    --button-color-primary: #2c2c2c;
    --button-color-hover-primary: #333333;
    --button-color-danger: #ef5552;
    --button-color-danger-hover: #c74f4d;
    --input-background: #2f2f2f;
    --card-background: #252526;

    --modal-background: #1b1b1b;
    --modal-border: #2f2f2f;
    --modal-input: #252526 ;
    
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* For IE, Edge and Firefox */
  .scrollbar-hide {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
  }

  body {
    font-family: system-ui ;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

}
 
