@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
  }
 
  .dark {
    --background: #181a1b;
    --header-background: #b34550;
    --footer-background: #1f1f1f;
    --button-color-primary: #2c2c2c;
    --button-color-hover-primary: #333333;
    --input-background: #2f2f2f;
    --card-background: #212121;

    --modal-background: #1b1b1b;
    --modal-border: #2f2f2f;
    --modal-input: #252526 ;
    
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* For IE, Edge and Firefox */
  .scrollbar-hide {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
  }

  body {
    font-family: 'Roboto', 'Segoe UI';
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

}
 
