apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- brigadasos-db-prod.yaml
- pgroonga.yaml
- pgsync.yaml
#  - ../../base
namespace: nadedb
images:
- name: brigadasos-db
  newName: ghcr.io/brigadasos/nadedb
  newTag: v0.9.5
- name: nadedb
  newName: ghcr.io/brigadasos/nadedb
  newTag: v0.9.1-5
